/* line 1, ../sass/main.scss */
html {
  font-family: 'Roboto-thin', sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/* line 7, ../sass/main.scss */
body {
  margin: 0;
  background-image: url("../Scenic Southern Oregon 2013  Beautifulvista.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

/* line 15, ../sass/main.scss */
.navbar {
  border: 0px;
  /*transition: 0.5s;*/
  min-height: 0;
}

@media only screen and (max-width: 767px) {
  /* line 23, ../sass/main.scss */
  .navbar {
    /*min-height: 65px;*/
    border: 0px;
  }

  /* line 28, ../sass/main.scss */
  .navbar-header {
    float: left;
    padding: 15px;
    text-align: center;
    width: 100%;
  }

  /* line 34, ../sass/main.scss */
  .navbar-brand {
    float: none;
    padding: 0;
  }
}
/* line 40, ../sass/main.scss */
.navbar.scrolldown {
  /*background-color: #333;*/
}

/* line 44, ../sass/main.scss */
.navbar-brand {
  padding: 0;
}

/* line 48, ../sass/main.scss */
.row {
  overflow: hidden;
  display: inline-block;
  width: 100%;
  margin: auto;
}

/* line 55, ../sass/main.scss */
#rowleft {
  height: 300px;
  width: 400px;
  display: block;
  float: left;
}

/* line 62, ../sass/main.scss */
#rowright {
  float: left;
  width: 50%;
  margin: auto;
}

/* line 68, ../sass/main.scss */
#content {
  padding-top: 80px;
  margin: auto;
  overflow: hidden;
  width: 100%;
  color: white;
  height: 100vh;
}

/* line 77, ../sass/main.scss */
#content h2 {
  text-align: center;
  font-size: 40px;
  padding: 10px;
  margin: auto;
  color: white;
  bottom: 0;
  /*background-color: rgba(50, 50, 50, 0.7);*/
}

/* line 87, ../sass/main.scss */
.contentbody {
  margin-top: 0;
  background-color: rgba(200, 200, 200, 0.7);
  width: 90%;
  margin: auto;
  height: auto;
}

/* line 95, ../sass/main.scss */
.contentbody p {
  line-height: 30px;
  font-size: 16px;
  color: #fff;
  margin: auto;
  text-align: center;
  padding: 20px;
  position: relative;
  width: 75%;
  background-color: rgba(0, 53, 95, 0.5);
}

/* line 107, ../sass/main.scss */
.header {
  text-align: center;
  color: white;
  font-size: 60px;
  line-height: 0.78;
  font-weight: 400;
}

/* line 115, ../sass/main.scss */
#slidein {
  width: 100%;
  padding-bottom: 30px;
  line-height: 0.69;
  padding-top: 20vh;
  /*border: 3px solid green;*/
}

/* line 123, ../sass/main.scss */
#slidein h1 {
  color: white;
  font-size: 70px;
  line-height: 0.75;
  font-weight: 400;
}

/* line 130, ../sass/main.scss */
#title {
  width: 100%;
  border-bottom: 2px solid #fff;
  display: inline-block;
  padding: 0;
  position: relative;
  margin-left: 550px;
  margin-top: 0;
  /*border: 3px solid red;*/
}

/* line 141, ../sass/main.scss */
#subtitle {
  width: 100%;
  border-bottom: 2px solid #fff;
  display: inline-block;
  padding: 0;
  position: relative;
  margin-left: -220px;
  text-align: right;
  /*border: 3px solid blue;*/
}

@media only screen and (max-width: 640px) {
  /* line 154, ../sass/main.scss */
  #title {
    border-bottom: 0px;
    text-align: center;
    left: 0;
    margin: auto;
    padding-top: 8px;
  }
}
@media only screen and (max-width: 640px) {
  /* line 166, ../sass/main.scss */
  #subtitle {
    border-bottom: 0px;
    text-align: center;
    left: 0;
    margin: auto;
  }
}
/* line 175, ../sass/main.scss */
#header {
  top: 0;
  color: white;
  position: fixed;
  display: inline-block;
  width: 100%;
  z-index: 1;
  transition: margin 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
}

/* line 185, ../sass/main.scss */
#autoscroll {
  /*padding-top: 400px;*/
  width: 100%;
  /*margin:auto;*/
  text-align: center;
  bottom: 10px;
  position: absolute;
}

/* line 194, ../sass/main.scss */
#autoscroll a {
  /*font-size: 4em;*/
  bottom: 0;
  color: white;
  text-decoration: none;
}

/* line 201, ../sass/main.scss */
#scrollbox {
  top: 0;
}

/* line 205, ../sass/main.scss */
#scrollbox .glyphicon {
  font-size: 25px;
}

/* line 209, ../sass/main.scss */
#scrolldown {
  /*position: absolute;*/
  font-size: 4em;
  position: absolute;
  margin-left: -23px;
  margin-bottom: -14px;
}

/* line 217, ../sass/main.scss */
#scrolldownarrow {
  z-index: -1;
  display: block;
}

/* line 222, ../sass/main.scss */
#statement {
  /*display: block;*/
}

/* line 226, ../sass/main.scss */
#missionstatement {
  line-height: 30px;
  font-size: 16px;
  color: #fff;
  margin: auto;
  text-align: center;
  padding: 20px;
  margin-top: 100px;
  margin-bottom: 100px;
  position: relative;
  /*margin-bottom: 200px;*/
  width: 75%;
  background-color: rgba(0, 53, 95, 0.5);
}

/* line 241, ../sass/main.scss */
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* line 250, ../sass/main.scss */
.noselect-recursive *, .noselect-recursive * *, .noselect-recursive {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* line 259, ../sass/main.scss */
footer {
  color: #fff;
  text-align: center;
  padding: 10px;
  bottom: 0;
  width: 100%;
  margin: auto;
  position: relative;
  background-color: rgba(50, 50, 50, 0.7);
}

/* line 270, ../sass/main.scss */
footer a {
  display: inline;
  color: white;
  text-decoration: none;
  -o-transition: .25s;
  -ms-transition: .25s;
  -moz-transition: .25s;
  -webkit-transition: .25s;
  transition: .25;
}

/* line 281, ../sass/main.scss */
footer a:hover {
  color: #448AFF;
}
