html {
    font-family: 'Roboto-thin', sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
    background-image: url("../Eugene-Cityscape-at-Dusk-by-Jeff-Green.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
}

.bar {
    box-sizing: border-box;
    display: inline-block;
    height: inherit;
    width: inherit;
    color: white;
    text-align: center;
    padding: 16px 16px 16px 16px;
    text-decoration: none;
    white-space: normal;
    background-color: rgba(0, 0, 0, 0);
}

.bar.active {
    background-color: #333;
}

.menuitem {
    vertical-align: middle;
    font-size: 20px;
    float: left;
    height: 94%;
    width: 120px;
    margin: auto;
    line-height: 35px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    
}

.menuitem a:hover {
    text-decoration: underline;
}

.menuitem.active a:hover {
    background-color: #555;
    text-decoration: none;
}


.dropdown {
    /*margin: auto;*/
    /*z-index: 100;*/
    
}

.dropdown:before {
    content: " ";
    border-bottom: 11px solid #222;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    position: absolute;
    margin-left: 50px;
    margin-top: -11px;
    border-bottom-color: white;
    transition: 0.5s;
}

.dropdown.active:before {
    border-bottom-color: #fff;
}

.dropdown ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    
}

.dropdown.active ul {
    background-color: #fff;
}

.dropdownwrapper {
    font-size: 16px;
    text-align: center;
    /*z-index: 100;*/
    border-radius: 5px 5px 10px 10px;
    transition: 0.5s;
}

.dropdownwrapper.active {
    border-radius: 5px 5px 10px 10px;
}

.dropdownwrapper li {
    width: 100%;
}

.dropdownwrapper a {
    width: 100%;
    position: relative;
    padding: 5px 0px 5px 0px;
    height: 30px;
    display: inline-block;
    color: black;
    text-decoration: none;
    border-bottom: 0.7px solid #555;
    transition: 0.5s;
}

.dropdownwrapper a:before {
    content:'\27A4';
    padding-right: 3px;
    color: rgb(0,53,95);
}

.dropdownwrapper.active a {
    color: black;
}

#content {
    padding-top: 80px;
    margin: auto;
    overflow: hidden;
    width: 100%;
    color: white;
    height: 1000px;
}

#content h2 {
    text-align: center;
    padding: 10px;
    width: 20%;
    margin: auto;
    color: white;
    bottom: 0;
    opacity: 0;
    /*background-color: rgba(50, 50, 50, 0.7);*/
}

#header {
    top: 0;
    color: white;
    position: fixed;
    display: inline-block;
    width: 100%;
    transition: margin 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
}

#logo {
    float: left;
    margin: auto;
}

#menu {
    vertical-align: top;
    position: fixed;
    float: left;
    display: inline-block;
    width: 100%;
    height: 65px;
    /*background-color: rgba(50,50,50, 0.5);*/
    background: -webkit-linear-gradient(bottom, rgba(0,0,0,0), rgba(50,50,50,1));
    transition: 0.5s;
}

#menu.active {
    background: #333;
}

#autoscroll {
    padding-top: 400px;
    width: 100%;
    text-align: center;
}

#autoscroll p {
    line-height: 30px;
    font-size: 16px;
    color: #fff;
    margin: auto;
    text-align: center;
    padding: 20px;
    position: relative;
    width: 75%;
    background-color: rgba(0,53,95, 0.5);
}

#autoscroll a {
    margin: auto;
    position: absolute;
    font-size: 4em;
    bottom: 0;
    color: white;
    text-decoration: none;
}

#slidein {
    width: 100%;
    padding-bottom: 30px;
    line-height: 0.69;
    padding-top: 20vh;
}

#slidein h1{
    color: white;
    font-size: 60px;
}

#title {
    width: 100%;
    /*left: 50%;*/
    border-bottom: 2px solid #fff;
    display: inline-block;
    max-width: inherit;
    margin: 0;
    padding: 0;
    padding-top: 7px;
}

#subtitle {
    width: 100%;
    text-align: right;
    border-bottom: 2px solid #fff;
    display: inline-block;
    margin: 0;
    padding: 0;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.noselect-recursive *, .noselect-recursive * *, .noselect-recursive {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

footer {
    color: #fff;
    text-align: center;
    padding: 10px;
    bottom: 0;
    width: 100%;
    margin: auto;
    position: relative;
    background-color: rgba(50, 50, 50, 0.7);
}

footer a{
    display: inline;
    color: white;
    text-decoration: none;
    -o-transition:.25s;
    -ms-transition:.25s;
    -moz-transition:.25s;
    -webkit-transition:.25s;
    transition: .25;
}

footer a:hover{
    color: #448AFF;
}
