html {
    font-family: 'roboto', sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

body {
    margin: 0;
    /*position: absolute;*/
    background-image: url("../eugene-air-pollution-sept-2010-2-rev.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    /*overflow: hidden;*/
    /*overflow-y: auto;*/
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    /*padding-left: 20px;*/
    overflow: hidden;
    background-color: #333;
}

.fa-envelope-o {
    color:white;
}

.bar {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    white-space: normal;
    background-color: #333;
}

.menuitem {
    float: left;
}

.menuitem a:hover {
    background-color: #555;
}

/*.missionstatement {
    white-space: nowrap;
    width: 70%;
}*/

#content {
    padding-top: 30px;
    margin: auto;
    overflow: hidden;
    width: 100%;
    color: white;
    height: 600px;
}

#content p{
    /*white-space: nowrap;*/
    line-height: 30px;
    font-size: 16px;
    color: #fff;
    margin: auto;
    text-align: center;
    padding: 20px;
    /*padding-top: 40px;*/
    width: 75%;
    background-color: rgba(0,53,95, 0.5);
}

#content h2{
    text-align: center;
    padding: 10px;
    width: 20%;
    margin: auto;
    color: white;
    bottom: 0;
    opacity: 0;
    /*background-color: rgba(50, 50, 50, 0.7);*/
}

#header {
    top: 0;
    color: white;
    position: fixed;
    display: inline-block;
    /*vertical-align: top;*/
    width: 100%;
    white-space: nowrap;
}

#logo {
    top: 0;
    /*position: relative;*/
    display: inline-block;
}

#menu {
    vertical-align: top;
    position: fixed;
    display: inline-block;
    width: 100%;
    height: 46px;
    background-color: #333;
}

#slidein {
    width: 100%;
    padding-bottom: 30px;
    line-height: 0.7;
    /*background-image: url("../eugene-air-pollution-sept-2010-2-rev.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 30% center;*/
}

#slidein h1{
    color: white;
    font-size: 60px;
}

#title {
    width: 100%;
    text-align: center;
    /*margin-left: -60%;*/
    /*border-bottom: 2px solid #fff;*/
    display: inline-block;
    max-width: inherit;
    margin: 0;
    padding: 0;
    padding-top: 45px;
}

#subtitle {
    width: 100%;
    text-align: center;
    /*margin-left: -80%;*/
    /*border-bottom: 2px solid #fff;*/
    display: inline-block;
    margin: 0;
    padding: 0;
    padding-top: 20px;
}

.dropdownwrapper {
    text-align: center;
    color: white;
    z-index: 100;
}

.dropdownwrapper li {
    width: 100%;
}

.dropdownwrapper a {
    width: 100%;
    padding-top: 10px;
    height: 30px;
    display: block;
}

.disable-select-recursive * {
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -o-user-select: text;
    user-select: text;
}

footer {
    color: #fff;
    text-align: center;
    padding: 10px;
    bottom: 0px;
    width: 100%;
    margin: auto;
    position: fixed;
    background-color: rgba(50, 50, 50, 0.7);
}

footer a{
    display: inline;
    color: white;
    text-decoration: none;
    -o-transition:.25s;
    -ms-transition:.25s;
    -moz-transition:.25s;
    -webkit-transition:.25s;
    transition: .25;
}

footer a:hover{
    color: #448AFF;
}
