{% extends 'people/persontemplate.html' %}

{% load static %}

{% block person-image %}
    <img class='profile-pic' src='https://amploprod.s3.amazonaws.com/assets/no-user-image-square-9f6a473a32ad639f619216331d10d61ce1b35c9271d5683920960e1a5ee45bb8.jpg'></img>
{% endblock %}

{% block person-card %}
    <div class='link name'><h2>April Johnson</h2></div>
    <div class='link resume'><h4>Paralegal</h4></div>
    <div class='link email'><h5><a class='btn btn-primary fa fa-envelope-o' href='mailto:apriljohnson.jordanlaw@gmail.com'> apriljohnson.jordanlaw@gmail.com<a></h5></div>
    <div class='link twitter'><h5><a class='btn btn-primary fa fa-phone' href='tel:541-342-8110'> (541) 342-8110</a></h5></div>
{% endblock %}

{% block person-about %}
    <h1>About April</h1>
    <p class='paragraph-text'>
        Jordan Law’s Estate and Civil Litigation Paralegal April Johnson joined our firm in 2017.
    April graduated with honors from Lane Community College in 2010 with an Associate of Applied
    Science, Administrative Assistant, paired with a one year Career Pathways Certificate in Legal
    Office Skills.  For the past eight years, April has taken Continuing Legal Education courses through
    the National Association of Legal Assistants and Oregon Trial Lawyer’s Association, specializing in
    the following areas: Personal Injury, Probate, Estate Planning, Estate Administration, and
    Collections. At Jordan Law, P.C. April assists with Probate, Estate Planning, Real Property, Family
    Law, and Juvenile cases.
    </p>
    <p class='paragraph-text'>
        Before working at Jordan Law, P.C., April was Paralegal and Office Manager at
    Phillip M. Williams, P.C. for 7 years. Over the course of her career as a Paralegal, April has
    provided internship opportunities for graduates of the Lane Community College Legal Assistant
    program, providing on-the-job training and recommendations to help jumpstart their careers. April
    is mother to three daughters, born and raised in Springfield, Oregon. She is the Membership
    Chairperson and Vice President of the Springfield Neighborhood Watch, a cause that is important to
    her as it strives to create and maintain community safety where her family resides.
    </p>

{% endblock %}
