{% extends 'people/persontemplate.html' %}

{% load static %}

{% block person-image %}
    <img class='profile-pic' src='{% static 'images/cindy.jpg' %}'></img>
{% endblock %}

{% block person-card %}
    <div class='link name'><h2>Cindy Vance</h2></div>
    <div class='link resume'><h4>Paralegal</h4></div>
    <div class='link email'><h5><a class='btn btn-primary fa fa-envelope-o' href='#'> [Email here]<a></h5></div>
    <div class='link twitter'><h5><a class='btn btn-primary fa fa-phone' href='#'> [phone here]</a></h5></div>
{% endblock %}

{% block person-about %}
    <h1>About Cindy</h1>
    <p class='paragraph-text'>
        Cindy has been with Jordan Law, P.C. since September, 2014 and is an invaluable
        asset to our team.  Prior to her association with Jordan Law, Cindy graduated from Lane Community
        College in 2014 with an Associate of Applied Science degree in Administrative Assisting and a Career
        Pathways Certificate in Legal Office Skills.  In 2014, she interned for and was hired by Phillip M.
        Williams, P.C. as a legal assistant handling Personal Injury, Estate Planning and Administration,
        and Collections cases.
    </p>

    <p class='paragraph-text'> At Jordan Law, P.C., Cindy assists in all areas of Susan’s Juvenile Law
        practice, a practice area close to her heart as she is the mother of four children.  Cindy is often
        responsible for visiting our younger clients in their homes and maintains close associations with
        parents, foster families, and the children we represent.  She also provides litigation support in
        all of Susan’s practice areas and prepares initial petitions for adoption.  Before attending Lane
        Community College, Cindy had many years of customer service experience in the hospitality industry.
        She is an avid Ducks fan and enjoys donating her time to the community by volunteering at her
        children and grandchildren’s sporting events and activities.
    </p>
{% endblock %}

{% block person-works %}
    <h4><a href='#'>Lane County Juvenile Law Consortium Member</a></h4>
    <p class='paragraph-text'>
        Susan has been a member of the Lane County Juvenile Law Consortium since 2007.  She
        has served as a defense attorney for Springfield Municipal Court and has also worked as a contract
        attorney prosecuting cases on behalf of the City of Eugene.
    </p>

    <h4><a href='#'>OSBLPRC Member</a></h4>
    <p class='paragraph-text'>
        Susan has served on the Oregon State Bar Local Professional Responsibility Committee, is a
        long-term member of the Lane County Bar Association and also engages in regular pro bono activities
        on behalf of low-income clients and in connection with the University of Oregon School of Law.
    </p>

    <h4><a href='#'>Felony crime resolution</a></h4>
    <p class='paragraph-text'>
        She won both her first felony criminal trial and her first trial defending a parent in a
        Termination of Parental Rights trial and has appeared in numerous bench and jury trials in criminal,
        civil, and juvenile proceedings.  Susan continues to grow and expand her practice base with ongoing
        legal education in her practice areas and membership in the Juvenile and Probate sections of the
        Oregon State Bar.
    </p>
    <h4><a href='#'>Felony crime resolution</a></h4>
    <p class='paragraph-text'>
        She won both her first felony criminal trial and her first trial defending a parent in a
        Termination of Parental Rights trial and has appeared in numerous bench and jury trials in criminal,
        civil, and juvenile proceedings.  Susan continues to grow and expand her practice base with ongoing
        legal education in her practice areas and membership in the Juvenile and Probate sections of the
        Oregon State Bar.
    </p>
{% endblock %}

{% block person-qualifications %}
<div class="card" style="width: 80vw;">
    <div class="card-block">
        <h4 class="card-title">Qualifications</h4>
        <h6 class="card-subtitle mb-2">Attorney at Law</h6>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">[insert qual here]</li>
                <li class="list-group-item">[insert qual here]</li>
                <li class="list-group-item">[insert qual here]</li>
            </ul>
    </div>
    <div class="card-block">
        <h6 class="card-subtitle mb-2">Legal works</h6>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">[insert qual here]</li>
                <li class="list-group-item">[insert qual here]</li>
            </ul>
    </div>
    <div class="card-block">
        <h6 class="card-subtitle mb-2">Experience</h6>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">[insert qual here]</li>
                <li class="list-group-item">[insert qual here]</li>
                <li class="list-group-item">[insert qual here]</li>
                <li class="list-group-item">[insert qual here]</li>
            </ul>
    </div>
    <div class="card-block">
        <a href="tel:541-554-7684" class="btn btn-primary fa fa-phone"> Phone</a>
        <a href="mailto:susanjordan.attorney@gmail.com" class="btn btn-default fa fa-envelope-o"> Contact</a>
    </div>
</div>
{% endblock %}
