{% extends 'people/persontemplate.html' %}

{% load static %}

{% block person-image %}
    <img class='profile-pic' src='{% static 'images/cindy.jpg' %}'></img>
{% endblock %}

{% block person-card %}
    <div class='link name'><h2>Cindy Vance</h2></div>
    <div class='link resume'><h4>Legal Assistant</h4></div>
    <div class='link email'><h5><a class='btn btn-primary fa fa-envelope-o' href='mailto:cindyvance.jordanlaw@gmail.com'> cindyvance.jordanlaw@gmail.com<a></h5></div>
    <div class='link twitter'><h5><a class='btn btn-primary fa fa-phone' href='tel:541-342-8110'> (541) 342-8110</a></h5></div>
{% endblock %}

{% block person-about %}
    <h1>About Cindy</h1>
    <p class='paragraph-text'>
        Jordan Law’s Legal Assistant Cindy Vance joined our firm in 2014 and is an
    invaluable asset to our team.  Cindy graduated from Lane Community College with an Associate of
    Applied Science degree in Administrative Assisting and a Career Pathways Certificate in Legal Office
    Skills. She previously worked as a legal assistant handling Personal Injury, Estate Planning and
    Administration, and Collections cases.  At Jordan Law, P.C., Cindy assists in all areas of the
    firm’s Juvenile Law practice, a practice area close to her heart as she is the mother of four
    children.
    </p>

    <p class='paragraph-text'>
        Cindy maintains close associations with parents, foster families, adoptive families, and the
    children we represent.  Part of representing children involves visiting the children in their homes,
    and Cindy is responsible for coordinating and often conducting these visits for our youngest
    clients.  Cindy handles all adoption filings and processing and also provides litigation support in
    all of Susan's practice areas. Before attending Lane Community College, Cindy had many years of
    customer service experience in the hospitality industry.
    </p>
    <p class='paragraph-text'>
        She is an avid Ducks fan and enjoys donating her time to the community by volunteering at
    her children and grandchildren’s sporting events and activities.
    </p>
{% endblock %}
