{% extends 'base.html' %}

{% load static %}

{% block people-tab %}
active
{% endblock people-tab %}

{% block content %}
<div class='section main-content'>
    <div class='container-fluid person-card animated slideInUp row'>
        <div class='flip-container'>
            <img class='profile-pic' src='{% static 'images/susan.jpg' %}'></img>
        </div>
        <div class='text-container'>
            <div class='link name'><h2>Susan Jordan</h2></div>
            <div class='link resume'><h4>Attorney at Law</h4></div>
            <div class='link email'><h5><a class='btn btn-primary fa fa-envelope-o' href='mailto:susanjordan.attorney@gmail.com'> susanjordan.attorney@gmail.com<a></h5></div>
            <div class='link twitter'><h5><a class='btn btn-primary fa fa-phone' href='https://twitter.com/jordanma1998'> 541-554-7684</a></h5></div>
        </div>
    </div>
    <div class="animated fadeInRight autoscroll">
            <div class=scrollbox>
                <a class="fa fa-square-o scrolldown" href="#about-me"></a>
                <div class='scrolldownarrow'>
                    <a class="fa fa-chevron-down"></a>
                </div>
            </div>
    </div>
</div>
<div id='about-me' class='section'>
    <h1>About Susan</h1>
    <p class='paragraph-text'>
        Susan has been engaged in private practice in Lane County for seventeen years.  After
    graduating from the University of Oregon School of Law in 1997, Susan was admitted to the Oregon
    State Bar and clerked for three Lane County Circuit Court judges until 2000, when she joined a
    Springfield firm and practiced in the area of civil litigation, with a focus on real property
    disputes. Susan was admitted to practice in Federal Court and worked briefly for the University of
    Oregon School of Law before opening her own practice in 2005, originally Susan Ezzy Jordan, LLC, now
    Jordan Law, P.C.
    </p>

    <p class='paragraph-text'>
        Susan’s background includes general civil litigation and exposure to a wide range of
    practice areas including Civil Litigation, Estate Planning, Family Law and matters involving Real
    Property.  In 2007, she began practicing Juvenile Law and became an active member of the Lane County
    Juvenile Law Consortium.  Juvenile Law constitutes a significant portion of her practice and Susan
    also continues to assist clients with other issues related to her general practice areas.
    </p>

    <p class='paragraph-text'>
        Susan’s background includes general practice and civil litigation as well as Juvenile
    law and criminal defense.  She joined the Lane County Juvenile Law Consortium In 2007 and Juvenile
    Law comprises a significant practice area in combination with her general practice areas which
    include real property issues, probate, estate planning, and civil litigation.  Susan also handles
    adoptions.  Susan has been married for nineteen years and has two children.
    </p>

</div>

<div id='works' class='section'>
    <h1>Works</h1>
    <h4><a href='#'>Lane County Juvenile Law Consortium Member</a></h4>
    <p class='paragraph-text'>
        Susan has been a member of the Lane County Juvenile Law Consortium since 2007.  She
        has served as a defense attorney for Springfield Municipal Court and has also worked as a contract
        attorney prosecuting cases on behalf of the City of Eugene.
    </p>

    <h4><a href='#'>OSBLPRC Member</a></h4>
    <p class='paragraph-text'>
        Susan has served on the Oregon State Bar Local Professional Responsibility Committee, is a
        long-term member of the Lane County Bar Association and also engages in regular pro bono activities
        on behalf of low-income clients and in connection with the University of Oregon School of Law.
    </p>

    <h4><a href='#'>Felony crime resolution</a></h4>
    <p class='paragraph-text'>
        She won both her first felony criminal trial and her first trial defending a parent in a
        Termination of Parental Rights trial and has appeared in numerous bench and jury trials in criminal,
        civil, and juvenile proceedings.  Susan continues to grow and expand her practice base with ongoing
        legal education in her practice areas and membership in the Juvenile and Probate sections of the
        Oregon State Bar.
    </p>
    <h4><a href='#'>Felony crime resolution</a></h4>
    <p class='paragraph-text'>
        She won both her first felony criminal trial and her first trial defending a parent in a
        Termination of Parental Rights trial and has appeared in numerous bench and jury trials in criminal,
        civil, and juvenile proceedings.  Susan continues to grow and expand her practice base with ongoing
        legal education in her practice areas and membership in the Juvenile and Probate sections of the
        Oregon State Bar.
    </p>

</div>
<div id='toolbox' class='section'>
    <h1>Toolbox</h1>
    <div class='container'>
        <div class="row">
            <div class="col-sm-4">
                <div class="card">
                    <h3 class="card-header">Juvinille Law</h3>
                    <div class="card-block">
                        <p class="card-text">Susan has been practicing in the Juvenile Law arena for the past 10 years and represents parties in DHS dependency proceedings as well as juvenile delinquency proceedings.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <h3 class="card-header">Real Property</h3>
                    <div class="card-block">
                        <p class="card-text">Susan has over seventeen years of experience in handling real property matters and disputes.  She has tried and won cases in connection with adverse possession and residential tenancies, drafted land sale contracts and contracts for the sale of real property, and regularly reviews and advises her clients in connection with real property transaction documents and litigation issues.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <h3 class="card-header">Adoptions</h3>
                    <div class="card-block">
                        <p class="card-text">Susan handles private and DHS adoptions and has represented parents in contested adoption proceedings as well as foster parents and stepparents seeking to adopt children in their care.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="card">
                    <h3 class="card-header">Estate Planning</h3>
                    <div class="card-block">
                        <p class="card-text">2 years personal freelance web development(Python, HTML, CSS3, SCSS, Django, Firebase, SQLite)</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <h3 class="card-header">Criminal Law</h3>
                    <div class="card-block">
                        <p class="card-text">Extensive personal programming experience in languages specifically Python and C++</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <h3 class="card-header">Civil Litigation</h3>
                    <div class="card-block">
                        <p class="card-text">Skilled at writing efficient and readable code using reliable and up-to-date coding standards.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id='resume' class='section'>
    <h1>Resume</h1>
    <div class="card" style="width: 80vw;">
        <div class="card-block">
            <h4 class="card-title">Resume</h4>
            <h6 class="card-subtitle mb-2">Web Developer</h6>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Full stack developer capable of building a dynamic webpage from the ground up -- from concept, navigation, layout and programming to UX and design.</li>
                    <li class="list-group-item">Skilled at writing efficient and readable code using reliable and up-to-date coding standards.</li>
                    <li class="list-group-item">Dedicated, passionate and eager to learn as well as being versed in an array of frameworks and languages.</li>
                </ul>
        </div>
        <div class="card-block">
            <h6 class="card-subtitle mb-2">Technical Toolbox</h6>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Web Tools: Javascript, Jquery, HTML, CSS3, SCSS, Bootstrap, React JS, Python, Firebase, Github, Apache, Django, C9, WSGI, Wordpress, Jekyl, DNS Hookup</li>
                    <li class="list-group-item">Development Tools: C++, Java, OpenCV, Vim, .NET, Unix, Unix Shell, Windows 7/8/10, OOP Language Structure, SQLite, PID</li>
                </ul>
        </div>
        <div class="card-block">
            <h6 class="card-subtitle mb-2">Experience</h6>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">4 years experience as senior software developer on the South Eugene Robotics Team(Java, OpenCv, Python, Unix Shell, WPI library, PID, OOP)</li>
                    <li class="list-group-item">2 years personal freelance web development(Python, HTML, CSS3, SCSS, Django, Firebase, SQLite)</li>
                    <li class="list-group-item">Extensive personal programming experience in languages specifically Python and C++</li>
                    <li class="list-group-item">Developed dynamic site from scratch using Django, WSGI hosting, and basic Web Dev tools (HTML, CSS, Javascript, Jquery). Dynamic site included user accounts, blog posts, file uploads, data storage, static file hosting, with an optimized UX using bootstrap and Django. </li>
                </ul>
        </div>
        <div class="card-block">
            <a href="https://github.com/verycumbersome" class="btn btn-primary fa fa-phone"> Phone</a>
            <a href="mailto:matthewsages@gmail.com" class="btn btn-default fa fa-envelope-o"> Contact</a>
        </div>
    </div>
</div>
{% endblock %}
