{% extends 'base.html' %}

{% load static %}

{% block people-tab %}
active
{% endblock people-tab %}

{% block content %}
<div class='section main-content'>
    <div class='container-fluid person-card animated slideInUp row'>
        <div class='flip-container'>
            {% block person-image %}
            {% endblock %}
        </div>
        <div class='text-container'>
            {% block person-card %}
            {% endblock %}
        </div>
    </div>
    <div class="animated fadeInRight autoscroll">
            <div class=scrollbox>
                <a class="fa fa-square-o scrolldown" href="#about-me"></a>
                <div class='scrolldownarrow'>
                    <a class="fa fa-chevron-down"></a>
                </div>
            </div>
    </div>
</div>
<div id='about-me' class='section'>
    {% block person-about %}
    {% endblock %}
</div>
{% block person-qualifications %}
{% endblock %}

{% endblock %}
