{% extends 'base.html' %}

{% load static %}

{% block people-tab %}
active
{% endblock people-tab %}

{% block content %}
<div class='section main-content'>
    <div class='container-fluid person-card animated slideInUp row'>
        <div class='flip-container'>
            {% block person-image %}
            {% endblock %}
        </div>
        <div class='text-container'>
            {% block person-card %}
            {% endblock %}
        </div>
    </div>
    <div class="animated fadeInRight autoscroll">
            <div class=scrollbox>
                <a class="fa fa-square-o scrolldown" href="#about-me"></a>
                <div class='scrolldownarrow'>
                    <a class="fa fa-chevron-down"></a>
                </div>
            </div>
    </div>
</div>
<div id='about-me' class='section'>
    {% block person-about %}
    {% endblock %}
</div>

<div id='works' class='section'>
    <h1>Works</h1>
    {% block person-works %}
    {% endblock %}
</div>
<div id='toolbox' class='section'>
    <h1>Toolbox</h1>
    <div class='container'>
        <div class="row">
            <div class="col-sm-4">
                <div class="card">
                    <h3 class="card-header">Juvinille Law</h3>
                    <div class="card-block">
                        <p class="card-text">Susan has been practicing in the Juvenile Law arena for the past 10 years and represents parties in DHS dependency proceedings as well as juvenile delinquency proceedings.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <h3 class="card-header">Real Property</h3>
                    <div class="card-block">
                        <p class="card-text">Susan has over seventeen years of experience in handling real property matters and disputes.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <h3 class="card-header">Adoptions</h3>
                    <div class="card-block">
                        <p class="card-text">Susan handles private and DHS adoptions and has represented parents in contested adoption proceedings as well as foster parents and stepparents seeking to adopt children in their care.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="card">
                    <h3 class="card-header">Estate Planning</h3>
                    <div class="card-block">
                        <p class="card-text">2 years personal freelance web development(Python, HTML, CSS3, SCSS, Django, Firebase, SQLite)</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <h3 class="card-header">Criminal Law</h3>
                    <div class="card-block">
                        <p class="card-text">Extensive personal programming experience in languages specifically Python and C++</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <h3 class="card-header">Civil Litigation</h3>
                    <div class="card-block">
                        <p class="card-text">Skilled at writing efficient and readable code using reliable and up-to-date coding standards.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id='resume' class='section'>
    <h1>Resume</h1>
    <div class="card" style="width: 80vw;">
        <div class="card-block">
            <h4 class="card-title">Resume</h4>
            <h6 class="card-subtitle mb-2">Web Developer</h6>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Full stack developer capable of building a dynamic webpage from the ground up -- from concept, navigation, layout and programming to UX and design.</li>
                    <li class="list-group-item">Skilled at writing efficient and readable code using reliable and up-to-date coding standards.</li>
                    <li class="list-group-item">Dedicated, passionate and eager to learn as well as being versed in an array of frameworks and languages.</li>
                </ul>
        </div>
        <div class="card-block">
            <h6 class="card-subtitle mb-2">Technical Toolbox</h6>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Web Tools: Javascript, Jquery, HTML, CSS3, SCSS, Bootstrap, React JS, Python, Firebase, Github, Apache, Django, C9, WSGI, Wordpress, Jekyl, DNS Hookup</li>
                    <li class="list-group-item">Development Tools: C++, Java, OpenCV, Vim, .NET, Unix, Unix Shell, Windows 7/8/10, OOP Language Structure, SQLite, PID</li>
                </ul>
        </div>
        <div class="card-block">
            <h6 class="card-subtitle mb-2">Experience</h6>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">4 years experience as senior software developer on the South Eugene Robotics Team(Java, OpenCv, Python, Unix Shell, WPI library, PID, OOP)</li>
                    <li class="list-group-item">2 years personal freelance web development(Python, HTML, CSS3, SCSS, Django, Firebase, SQLite)</li>
                    <li class="list-group-item">Extensive personal programming experience in languages specifically Python and C++</li>
                    <li class="list-group-item">Developed dynamic site from scratch using Django, WSGI hosting, and basic Web Dev tools (HTML, CSS, Javascript, Jquery). Dynamic site included user accounts, blog posts, file uploads, data storage, static file hosting, with an optimized UX using bootstrap and Django. </li>
                </ul>
        </div>
        <div class="card-block">
            <a href="https://github.com/verycumbersome" class="btn btn-primary fa fa-phone"> Phone</a>
            <a href="mailto:matthewsages@gmail.com" class="btn btn-default fa fa-envelope-o"> Contact</a>
        </div>
    </div>
</div>
{% endblock %}
