{% extends 'people/persontemplate.html' %}

{% load static %}

{% block person-image %}
    <img class='profile-pic' src='{% static 'images/susan.jpg' %}'></img>
{% endblock %}

{% block person-card %}
    <div class='link name'><h2>Susan Ezzy Jordan</h2></div>
    <div class='link resume'><h4>Attorney at Law</h4></div>
    <div class='link email'><h5><a class='btn btn-primary fa fa-envelope-o' href='mailto:susanjordan.attorney@gmail.com'> susanjordan.attorney@gmail.com<a></h5></div>
    <div class='link twitter'><h5><a class='btn btn-primary fa fa-phone' href='tel:541-554-7684'> 541-554-7684</a></h5></div>
{% endblock %}

{% block person-about %}
    <h1>About Susan</h1>
    <p class='paragraph-text'>
        Attorney Susan Ezzy Jordan graduated from the Oregon School of Law and was admitted to the Oregon
    State Bar in 1997.   Susan clerked for three Lane County Circuit judges after graduation and joined
    a Springfield firm in 2000, where she worked in a variety of practice areas including civil
    litigation, land use, real property litigation and estate planning.  Susan opened her own practice
    in 2005, originally Susan Ezzy Jordan, LLC, now Jordan Law, P.C.  She joined the Lane County
    Juvenile Law Consortium in 2007 and is an active member of that group.
    </p>

    <p class='paragraph-text'>
        Susan is a current member of the Oregon State Bar, Oregon Criminal Defense Lawyers
    Association, Lane County Bar Association, Lane County Juvenile Law Consortium, and the
    Juvenile and Probate sections of the Oregon State Bar.  She is a past member of Oregon
    Women Lawyers and the Oregon State Bar Local Professional Responsibility Committee.  Susan engages
    in regular pro bono activities on behalf of low-income clients and in connection with the University
    of Oregon School of Law.  Susan has two children and lives with her husband in Eugene.  She enjoys
    sporting events, being outdoors, and spending time with family, friends, and two dogs, Dave and
    Bowie.
    </p>
{% endblock %}


{% block person-toolkit %}
<!-- <div id='toolbox' class='section'>
    <h1>Toolbox</h1>
    <div class='container'>
        <div class="row">
            <div class="col-sm-4">
                <div class="card">
                    <h3 class="card-header">Juvinille Law</h3>
                    <div class="card-block">
                        <p class="card-text">Susan has been practicing in the Juvenile Law arena for the past 10 years and represents parties in DHS dependency proceedings as well as juvenile delinquency proceedings.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <h3 class="card-header">Real Property</h3>
                    <div class="card-block">
                        <p class="card-text">Susan has over seventeen years of experience in handling real property matters and disputes.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <h3 class="card-header">Adoptions</h3>
                    <div class="card-block">
                        <p class="card-text">Susan handles private and DHS adoptions and has represented parents in contested adoption proceedings as well as foster parents and stepparents seeking to adopt children in their care.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="card">
                    <h3 class="card-header">Estate Planning</h3>
                    <div class="card-block">
                        <p class="card-text">2 years personal freelance web development(Python, HTML, CSS3, SCSS, Django, Firebase, SQLite)</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <h3 class="card-header">Criminal Law</h3>
                    <div class="card-block">
                        <p class="card-text">Extensive personal programming experience in languages specifically Python and C++</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <h3 class="card-header">Civil Litigation</h3>
                    <div class="card-block">
                        <p class="card-text">Skilled at writing efficient and readable code using reliable and up-to-date coding standards.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->
{% endblock %}

{% block person-qualifications %}
<h1>Practice Areas</h1>

<div id='resume' class='section'>
    <div class="card" style="width: 80vw;">
        <div class="card-block">
            <h4 class="card-title">Practice Areas</h4>
            <h6 class="card-subtitle mb-2">Juvenile Law</h6>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        Susan has been a member of the Lane County Juvenile Law
                    Consortium since 2007 and represents parents and children in all stages of Juvenile Delinquency and
                    Dependency proceedings, including Juvenile Criminal Defense, Juvenile Dependency cases,
                     Termination of Parental Rights cases, and Adoptions.
                    </li>
                </ul>
        </div>
        <div class="card-block">
            <h6 class="card-subtitle mb-2">Family Law</h6>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        Often in connection with our Juvenile Law cases, our firm
                    represents and assists clients with family law cases and issues including dissolutions, legal
                    separations, custody orders, premarital agreements, and name and gender changes.
                    </li>
                </ul>
        </div>
        <div class="card-block">
            <h6 class="card-subtitle mb-2">Estate Planning and Administration (Probate)</h6>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        With the recent addition of our Estate paralegal April Johnson,
                    Probate and Estate administration is a growing practice at our firm.  Attorney Susan Ezzy Jordan has
                    experience with guardianship and conservatorship proceedings, probate and small estate
                    administration, estate litigation, basic estate planning and Trusts.
                    </li>
                </ul>
        </div>
        <div class="card-block">
            <h6 class="card-subtitle mb-2">Real Property and Civil Litigation</h6>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        Susan is an experienced trial attorney who has been handling Real Property
                    matters for over twenty years. Her experience includes adverse possession and ejectment cases, suits
                    for partition, Covenants, Conditions and Restrictions (CC&Rs), HOA and construction liens,
                    landlord-tenant disputes, evictions, easements, earnest money agreements, land sales contracts, real
                    estate contracts, deeds, and other documents related to real property sale, purchase, and ownership.
                    </li>
            </ul>
    </div>
    <div class="card-block">
        <h6 class="card-subtitle mb-2">Adoptions</h6>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    Susan is a state-certified contractor authorized to prepare and file
                DHS-sponsored adoptions.  Susan also has experience with stepparent adoption and contested adoption
                proceedings.
                </li>
            </ul>
    </div>
    <div class="card-block">
        <a href="tel:541-554-7684" class="btn btn-primary fa fa-phone"> Phone</a>
        <a href="mailto:susanjordan.attorney@gmail.com" class="btn btn-default fa fa-envelope-o"> Contact</a>
    </div>
</div>
</div>
{% endblock %}
