{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class='section main-content'>
    <div class='container animated fadeInRight row'>
        <div title='me ;)' class='flip-container'>
            <img class='profile-pic' src='{% static 'images/susan.jpg' %}'></img>
        </div>
        <div class='text-container'>
            <div class='link name'><h2>Susan Jordan</h2></div>
            <div class='link resume'><h4>Child defense attorney</h4></div>
            <div class='link email'><h5><a href='mailto:matthewsages@gmail.com'>susanjordan.attorney@gmail.com<a></h5></div>
            <div class='link twitter'><h5><a href='https://twitter.com/jordanma1998'>541-554-7684</a></h5></div>
        </div>
    </div>
    <div id="autoscroll" class="animated slideInUp noselect noselect-recursive">
        <div id=scrollbox>
            <a id="scrolldown" class="fa fa-square-o" href="#footer"></a>
            <a id="scrolldownarrow" class="glyphicon glyphicon-chevron-down"></a>
        </div>
    </div>

</div>
<div id='about-me' class='section'>
    <h1>About Susan</h1>
     <p class='paragraph-text'>
         Susan graduated from the University of Maine in 1990 with a
    Bachelor of Sciences degree in Journalism, and obtained her law degree from the University of
    Oregon School of Law in 1997. During law school she worked as a Judicial Extern in the United
    States District Court for the District of Oregon, was a summer associate for a litigation firm
    in Oregon, and worked as a research assistant in the area of Contract Law.  She was a Staff
    Editor on the Journal of Environmental Law and Litigation (JELL), a member of the law student
    organization, L.A.W. (Land, Air, Water) and played on the City League law school women’s soccer
    team.
    </p>

    <p class='paragraph-text'>
        After graduating from the University of Oregon School of Law, Susan clerked for
    three Lane County Circuit Court judges and then joined a Springfield firm where she practiced for
    three years, representing the City of Springfield and practicing in the area of civil litigation,
    with a focus on real property disputes. Susan left the firm and worked briefly for the University of
    Oregon School of Law before opening her own practice in 2005, originally Susan Ezzy Jordan, LLC, now
    Jordan Law, P.C.
    </p>

    <p class='paragraph-text'>
        Susan’s background includes general civil litigation and exposure to a wide range of
    practice areas including Civil Litigation, Estate Planning, Family Law and matters involving Real
    Property.  In 2007, she began practicing Juvenile Law and became an active member of the Lane County
    Juvenile Law Consortium.  Juvenile Law constitutes a significant portion of her practice and Susan
    also continues to assist clients with other issues related to her general practice areas.
    </p>

    <p class='paragraph-text'>
        Jordan Law continues to grow and expand our practice areas to meet our clients’
    needs. We also maintain relationships with other attorneys in Lane County and will refer clients
    when referrals are appropriate to best suit their needs.
    </p>

</div>

<div id='works' class='section'>
    <h1>Works</h1>
    <h4><a href='https://github.com/SouthEugeneRoboticsTeam/vision'>FRC Vision Processing</a></h4>
    <p class='paragraph-text'>
        This is the vision proccess that our team had running in parrallel on a minnowboard for
        the 2017 FRC challenge Steamworks. It uses OpenCv to threshold images and return the
        position relative to the camera and uses the offset to aling the robot.
    </p>
    <h4><a href='https://github.com/verycumbersome/InteractiveOutdoorNetwork'>IOP Class Website</a></h4>
    <p class='paragraph-text'>
        This website was created to help manage and organize one of my school classes Interactive
        Outdoor Program. The class is designed to integrate teenagers with the wilderness by
        allowing and encouraging outdoor activities. One of the goals of this website was to help
        promote and organize outdoor activity. The website is built on the Django python framework
        and is being hosted through WSGI on pythonanywhere.com.
    </p>

</div>
<div id='toolbox' class='section'>
    <h1>Toolbox</h1>
    <div class='container'>
        <div class="row">
            <div class="col-sm-4">
                <div class="card">
                    <h3 class="card-header">Web Development Tools</h3>
                    <div class="card-block">
                        <p class="card-text">Javascript, Jquery, HTML, CSS, SASS, Bootstrap, React, Python, Firebase, Apache, Django, Wordpress, Jekyl, DNS</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <h3 class="card-header">Development Tools</h3>
                    <div class="card-block">
                        <p class="card-text">C++, Java, OpenCV, Vim, .NET, Unix, Unix Shell, Windows 7/8/10, OOP Language Structure, SQLite, PID</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <h3 class="card-header">Robotics Team</h3>
                    <div class="card-block">
                        <p class="card-text">4 years experience as senior software developer on the South Eugene Robotics Team(Java, OpenCv, Python, PID, OOP)</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="card">
                    <h3 class="card-header">Freelance</h3>
                    <div class="card-block">
                        <p class="card-text">2 years personal freelance web development(Python, HTML, CSS3, SCSS, Django, Firebase, SQLite)</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <h3 class="card-header">Personal Programming</h3>
                    <div class="card-block">
                        <p class="card-text">Extensive personal programming experience in languages specifically Python and C++</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <h3 class="card-header">Up-to-date Standards</h3>
                    <div class="card-block">
                        <p class="card-text">Skilled at writing efficient and readable code using reliable and up-to-date coding standards.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id='resume' class='section'>
    <div class="card" style="width: 40rem;">
        <div class="card-block">
            <h4 class="card-title">Resume</h4>
            <h6 class="card-subtitle mb-2">Web Developer</h6>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Full stack developer capable of building a dynamic webpage from the ground up -- from concept, navigation, layout and programming to UX and design.</li>
                    <li class="list-group-item">Skilled at writing efficient and readable code using reliable and up-to-date coding standards.</li>
                    <li class="list-group-item">Dedicated, passionate and eager to learn as well as being versed in an array of frameworks and languages.</li>
                </ul>
        </div>
        <div class="card-block">
            <h6 class="card-subtitle mb-2">Technical Toolbox</h6>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Web Tools: Javascript, Jquery, HTML, CSS3, SCSS, Bootstrap, React JS, Python, Firebase, Github, Apache, Django, C9, WSGI, Wordpress, Jekyl, DNS Hookup</li>
                    <li class="list-group-item">Development Tools: C++, Java, OpenCV, Vim, .NET, Unix, Unix Shell, Windows 7/8/10, OOP Language Structure, SQLite, PID</li>
                </ul>
        </div>
        <div class="card-block">
            <h6 class="card-subtitle mb-2">Experience</h6>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">4 years experience as senior software developer on the South Eugene Robotics Team(Java, OpenCv, Python, Unix Shell, WPI library, PID, OOP)</li>
                    <li class="list-group-item">2 years personal freelance web development(Python, HTML, CSS3, SCSS, Django, Firebase, SQLite)</li>
                    <li class="list-group-item">Extensive personal programming experience in languages specifically Python and C++</li>
                    <li class="list-group-item">Developed dynamic site from scratch using Django, WSGI hosting, and basic Web Dev tools (HTML, CSS, Javascript, Jquery). Dynamic site included user accounts, blog posts, file uploads, data storage, static file hosting, with an optimized UX using bootstrap and Django. </li>
                </ul>
        </div>
        <div class="card-block">
            <a href="https://github.com/verycumbersome" class="btn btn-warning fa fa-github"> Github</a>
            <a href="mailto:matthewsages@gmail.com" class="btn btn-warning fa fa-envelope-o"> Contact</a>
        </div>
    </div>
</div>
{% endblock %}
