{% extends 'base.html' %}

{% load static %}

{% block people-tab %}
active
{% endblock people-tab %}

{% block content %}
<div class='section main-content'>
    <div class='container-fluid person-card animated slideInUp row'>
        <div class='flip-container'>
            <img class='profile-pic' src='{% static 'images/susan.jpg' %}'></img>
        </div>
        <div class='text-container'>
            <div class='link name'><h2>Susan Jordan</h2></div>
            <div class='link resume'><h4>Attorney at Law</h4></div>
            <div class='link email'><h5><a class='fa fa-envelope-o' href='mailto:susanjordan.attorney@gmail.com'> Email<a></h5></div>
            <div class='link twitter'><h5><a class='fa fa-phone' href='https://twitter.com/jordanma1998'> 541-554-7684</a></h5></div>
        </div>
    </div>
    <div class="animated fadeInRight autoscroll">
            <div class=scrollbox>
                <a class="fa fa-square-o scrolldown" href="#about-me"></a>
                <div class='scrolldownarrow'>
                    <a class="fa fa-chevron-down"></a>
                </div>
            </div>
    </div>
</div>
<div id='about-me' class='section'>
    <h1>About Susan</h1>
    <p class='paragraph-text'>
        Susan has been engaged in private practice in Lane County for seventeen years.  After
    graduating from the University of Oregon School of Law in 1997, Susan was admitted to the Oregon
    State Bar and clerked for three Lane County Circuit Court judges until 2000, when she joined a
    Springfield firm and practiced in the area of civil litigation, with a focus on real property
    disputes. Susan was admitted to practice in Federal Court and worked briefly for the University of
    Oregon School of Law before opening her own practice in 2005, originally Susan Ezzy Jordan, LLC, now
    Jordan Law, P.C.
    </p>

    <p class='paragraph-text'>
        Susan’s background includes general civil litigation and exposure to a wide range of
    practice areas including Civil Litigation, Estate Planning, Family Law and matters involving Real
    Property.  In 2007, she began practicing Juvenile Law and became an active member of the Lane County
    Juvenile Law Consortium.  Juvenile Law constitutes a significant portion of her practice and Susan
    also continues to assist clients with other issues related to her general practice areas.
    </p>

    <p class='paragraph-text'>
        Susan’s background includes general practice and civil litigation as well as Juvenile
    law and criminal defense.  She joined the Lane County Juvenile Law Consortium In 2007 and Juvenile
    Law comprises a significant practice area in combination with her general practice areas which
    include real property issues, probate, estate planning, and civil litigation.  Susan also handles
    adoptions.  Susan has been married for nineteen years and has two children.
    </p>

</div>

<div id='works' class='section'>
    <h1>Works</h1>
    <h4><a href='https://github.com/SouthEugeneRoboticsTeam/vision'>Got Bring Award</a></h4>
    <p class='paragraph-text'>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed varius orci tellus, non
        lobortis ante rutrum varius. Morbi ultricies interdum velit, nec molestie enim aliquam at.
        Donec pharetra, dolor at luctus sodales, nunc ligula semper velit, nec efficitur augue arcu
        at urna. Proin viverra, risus ut varius vestibulum, massa sem tincidunt erat, a pretium
        neque felis lacinia turpis. Nulla nec sapien scelerisque felis mollis sodales. Quisque
        turpis urna, sollicitudin at nunc sed, sodales vestibulum mi. Etiam posuere ullamcorper
        finibus. Suspendisse potenti. Nulla a orci sit amet enim pulvinar vehicula. Fusce eu enim
        quis neque posuere dictum.
    </p>

    <h4><a href='https://github.com/verycumbersome/InteractiveOutdoorNetwork'>Owns Place</a></h4>
    <p class='paragraph-text'> Duis ut enim porttitor, dapibus mauris non, dignissim risus. Quisque vulputate ac
        ligula at sollicitudin. Duis convallis lectus urna, non ullamcorper ante porttitor eu. Sed
        scelerisque, erat vel fermentum bibendum, lacus elit pharetra lectus, in aliquet sapien mauris eget
        orci. Praesent interdum sit amet orci tempor eleifend. Nulla placerat euismod convallis. Proin in
        semper sem. Etiam in lacinia enim. Orci varius natoque penatibus et magnis dis parturient montes,
        nascetur ridiculus mus. In euismod mauris at urna condimentum gravida. Praesent pretium mauris
        dolor, vel pulvinar felis placerat id. Praesent euismod, mauris nec eleifend tempus, turpis lectus
        finibus elit, sed cursus erat quam ut nisi. Cras ac turpis felis. Vivamus vel tristique justo. Fusce
        hendrerit vitae nibh id feugiat.
    </p>

    <h4><a href='https://github.com/verycumbersome/InteractiveOutdoorNetwork'>Some Achievement Here</a></h4>
    <p class='paragraph-text'> Sed et eros id leo volutpat cursus. Curabitur vel velit lectus. Nunc eu consequat diam.
        Mauris diam quam, ultrices a volutpat ac, mattis quis mauris. Cras ac accumsan mauris, sit amet
        venenatis nisl. Mauris non posuere est. In hac habitasse platea dictumst. Vivamus auctor augue vitae
        erat lobortis, ut semper purus ultrices. Donec porttitor posuere ipsum, at laoreet sem. Vestibulum
        congue mauris iaculis odio pharetra, ut consectetur ligula venenatis. Quisque fermentum mattis
        magna, tempor aliquam turpis pellentesque eget. Etiam rutrum in arcu non maximus. Etiam eget congue
        massa. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
        Vestibulum eu metus ut est luctus ultricies. Nulla facilisi.
    </p>

</div>
<div id='toolbox' class='section'>
    <h1>Toolbox</h1>
    <div class='container'>
        <div class="row">
            <div class="col-sm-4">
                <div class="card">
                    <h3 class="card-header">Juvinille Law</h3>
                    <div class="card-block">
                        <p class="card-text">Susan has been practicing in the Juvenile Law arena for the past 10 years and represents parties in DHS dependency proceedings as well as juvenile delinquency proceedings.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <h3 class="card-header">Real Property</h3>
                    <div class="card-block">
                        <p class="card-text">Susan has over seventeen years of experience in handling real property matters and disputes.  She has tried and won cases in connection with adverse possession and residential tenancies, drafted land sale contracts and contracts for the sale of real property, and regularly reviews and advises her clients in connection with real property transaction documents and litigation issues.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <h3 class="card-header">Adoptions</h3>
                    <div class="card-block">
                        <p class="card-text">Susan handles private and DHS adoptions and has represented parents in contested adoption proceedings as well as foster parents and stepparents seeking to adopt children in their care.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="card">
                    <h3 class="card-header">Estate Planning</h3>
                    <div class="card-block">
                        <p class="card-text">2 years personal freelance web development(Python, HTML, CSS3, SCSS, Django, Firebase, SQLite)</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <h3 class="card-header">Criminal Law</h3>
                    <div class="card-block">
                        <p class="card-text">Extensive personal programming experience in languages specifically Python and C++</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <h3 class="card-header">Civil Litigation</h3>
                    <div class="card-block">
                        <p class="card-text">Skilled at writing efficient and readable code using reliable and up-to-date coding standards.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id='resume' class='section'>
    <h1>Resume</h1>
    <div class="card" style="width: 80vw;">
        <div class="card-block">
            <h4 class="card-title">Resume</h4>
            <h6 class="card-subtitle mb-2">Web Developer</h6>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Full stack developer capable of building a dynamic webpage from the ground up -- from concept, navigation, layout and programming to UX and design.</li>
                    <li class="list-group-item">Skilled at writing efficient and readable code using reliable and up-to-date coding standards.</li>
                    <li class="list-group-item">Dedicated, passionate and eager to learn as well as being versed in an array of frameworks and languages.</li>
                </ul>
        </div>
        <div class="card-block">
            <h6 class="card-subtitle mb-2">Technical Toolbox</h6>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Web Tools: Javascript, Jquery, HTML, CSS3, SCSS, Bootstrap, React JS, Python, Firebase, Github, Apache, Django, C9, WSGI, Wordpress, Jekyl, DNS Hookup</li>
                    <li class="list-group-item">Development Tools: C++, Java, OpenCV, Vim, .NET, Unix, Unix Shell, Windows 7/8/10, OOP Language Structure, SQLite, PID</li>
                </ul>
        </div>
        <div class="card-block">
            <h6 class="card-subtitle mb-2">Experience</h6>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">4 years experience as senior software developer on the South Eugene Robotics Team(Java, OpenCv, Python, Unix Shell, WPI library, PID, OOP)</li>
                    <li class="list-group-item">2 years personal freelance web development(Python, HTML, CSS3, SCSS, Django, Firebase, SQLite)</li>
                    <li class="list-group-item">Extensive personal programming experience in languages specifically Python and C++</li>
                    <li class="list-group-item">Developed dynamic site from scratch using Django, WSGI hosting, and basic Web Dev tools (HTML, CSS, Javascript, Jquery). Dynamic site included user accounts, blog posts, file uploads, data storage, static file hosting, with an optimized UX using bootstrap and Django. </li>
                </ul>
        </div>
        <div class="card-block">
            <a href="https://github.com/verycumbersome" class="btn btn-primary fa fa-phone"> Phone</a>
            <a href="mailto:matthewsages@gmail.com" class="btn btn-default fa fa-envelope-o"> Contact</a>
        </div>
    </div>
</div>
{% endblock %}
