@import 'mixins';

#blog {
    height: 60vh;
    background: linear-gradient(to bottom,rgba(0,0,0,0.1),#000), url("http://i.huffpost.com/gen/1730398/images/o-NEWSPAPER-facebook.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: white;

    h1 {
        color: white;
        font-size: 4.5em;
        line-height: 0.75;
        font-weight: 400;
    }
}

#blog-posts {
    .row {
        padding-bottom: 20px;
    }

    .card {
        height: 50vh;
        max-width: 100%;
        text-overflow: ellipsis;
        border: 0px;
        padding: 20px;
        @include transitions(0.5s);
        @include box_shadow(1);
    }

    .card:hover {
        @include box_shadow(3);
        -webkit-transform: translate3d(0, -0.5%, 0);
        transform: translate3d(0, -0.5%, 0);
    }

    .card-title {
        word-wrap: break-word;
    }

    .list-group-item {
        overflow: hidden;
    }

    .social-links {
        float: right;
    }
}
