#contact {
    font-size: 30px;
    font-weight: 200;
    margin: auto;
    width: 100%;
    text-decoration: none;
    color: white;
    text-align: center;
}

.background-image {
    margin-top: 0;
    background-color: #333;
    padding-top: 50px;
    /*border-radius: 10px;*/
    width: auto;
    margin: auto;
    height: auto;
    white-space: nowrap;
    // filter: blur(5px);
}

.contentbody a {
    color: #4CCCFF;
}

.header {
    text-align: center;
    color: inherit;
    font-size: 60px;
    line-height: 0.78;
    font-weight: 400;
}

#autoscroll {
    /*padding-top: 400px;*/
    width: 100%;
    /*margin:auto;*/
    text-align: center;
    bottom: 10px;
    position: absolute;
}

#autoscroll a {
    /*font-size: 4em;*/
    bottom: 0;
    color: white;
    text-decoration: none;
}

#scrollbox {
    top: 0;
}

#scrollbox .glyphicon {
    font-size: 25px;
}

#scrolldown {
    /*position: absolute;*/
    font-size: 4em;
    position: absolute;
    margin-left: -23px;
    margin-bottom: -14px;
}

#scrolldownarrow {
    z-index: -1;
    display: block;
}

