{% extends 'base.html' %}

{% block index-tab %}
active
{% endblock index-tab %}

{% block content %}
<div id='index'>
    <div id="content" class="section">
        <div class="message">
            <div class='row'>
                <h1 id="left-message" class="animated fadeInLeft noselect noselect-recursive">Your Success</h1>
            </div>
            <div class='row'>
                <h1 id="right-message" class="animated fadeInRight noselect noselect-recursive">Is Our Business</h1>
            </div>
        </div>

        <div class="animated fadeInRight autoscroll">
            <div class=scrollbox>
                <a class="fa fa-square-o scrolldown" href="#about-me"></a>
                <div class='scrolldownarrow'>
                    <a class="fa fa-chevron-down"></a>
                </div>
            </div>
        </div>
    </div>
    <div id="statement">
            <p id="missionstatement" class="animated">
                <strong>At Jordan Law, P.C. we want to build</strong> lasting relationships with our clients. We are a small general practice firm that seeks to distinguish itself with exemplary service to clients and dedication to our community. Jordan Law’s founder, Susan Ezzy Jordan,
                has nearly 20 years of experience practicing law in Lane County in a wide range of practice areas, including Estate Planning, Juvenile Law, Criminal Law, Civil Litigation, and Real Property matters and disputes. We know that contacting an
                attorney often coincides with emotional life issues. We strive for clarity, integrity and connection with our clients, and believe that the best results are obtained when clients are actively involved in their own representation.
            </p>
    </div>
</div>
{% endblock content %}
