{% extends 'base.html' %}

{% block index-tab %}
active
{% endblock index-tab %}

{% block content %}
<div id='index'>
    <div id='header' class='section'>
        <h1>Welcome to Jordan Law PC</h1>
        <h4>1283 Lincoln Street Eugene, OR 97405</h4>
    </div>
    <div id="content" class='container'>
        <hr>
            <div class='call-button'>
                <a class="btn btn-primary btn-lg btn-block" href='tel:541-342-8110'<i class="fa fa-phone" aria-hidden="true"></i> Call Us - (541) 342-8110</a>
            </div>
        <h3>Our mission statement</h3>
        <p class="animated slideInUp">
            <strong>At Jordan Law, P.C. we want to build</strong> lasting
            relationships with our clients. We are a small general practice firm that seeks to distinguish
            itself with outstanding service to clients and dedication to our community. Jordan Law’s founder,
            Susan Ezzy Jordan, has nearly 20 years of experience practicing law in Lane County in a wide range
            of practice areas, including Estate Planning, Juvenile Law, Criminal Law, Civil Litigation, and Real
            Property matters and disputes. We know that contacting an attorney often coincides with emotional
            life issues. We strive for clarity, integrity and connection with our clients, and believe that the
            best results are obtained when clients are actively involved in their own representation.
        </p>

        <p class="animated slideInUp">
            <strong>Lorem ipsum dolor sit amet,</strong> consectetur adipiscing elit. Sed varius orci tellus, non
            lobortis ante rutrum varius. Morbi ultricies interdum velit, nec molestie enim aliquam at.
            Donec pharetra, dolor at luctus sodales, nunc ligula semper velit, nec efficitur augue arcu
            at urna. Proin viverra, risus ut varius vestibulum, massa sem tincidunt erat, a pretium
            neque felis lacinia turpis.
        </p>
    </div>
</div>
{% endblock content %}
