@import "mixins";

$underline: '\00a0';

#index {
    @include backgroundImage("../images/Scenic Southern Oregon 2013  Beautifulvista.jpg");
    background-attachment: fixed;

    color: white;

    &:before {
        content: '';
    	position: absolute;
        // vertical-align: bottom;
    	// top: 0;
    	right: 0;
    	bottom: 0;
    	left: 0;
    	background-image: linear-gradient(to bottom,rgba(0,0,0,0),#000);
    	opacity: .6;
  }

}

#content {
    height: 100vh !important;
}

#content h2 {
    text-align: center;
    font-size: 40px;
    padding: 10px;
    margin: auto;
    color: white;
    bottom: 0;
    /*background-color: rgba(50, 50, 50, 0.7);*/
}

.message {
    line-height: 0.69;
    top: 0vh;

    h1 {
        color: white;
        font-size: 4.5em;
        line-height: 0.75;
        font-weight: 400;
    }

    #left-message {
        margin-left: 30vw;
        // border-bottom: 2px solid #fff;
    }

    #right-message {
        margin-left: 40vw;
        // border-bottom: 2px solid #fff;
    }
}

@media (max-width: 640px) {
    .message {
        h1 {
            font-size: 2.8em;
        }

        #left-message {
            margin-left: 0vw;
            // border-bottom: 2px solid #fff;
        }

        #right-message {
            margin-left: 0vw;
            // border-bottom: 2px solid #fff;
        }
    }
}

#title {
    width: 100%;
    border-bottom: 2px solid #fff;
    display: inline-block;
    padding: 0;
    position: relative;
    margin-left: 550px;
    margin-top: 0;
    font-weight: 800;
    /*border: 3px solid red;*/
}

#subtitle {
    width: 100%;
    border-bottom: 2px solid #fff;
    display: inline-block;
    padding: 0;
    position: relative;
    margin-left: -220px;
    text-align: right;
    font-weight: 800;
    /*border: 3px solid blue;*/
}

@media only screen and (max-width: 640px) {

#title {
    border-bottom: 0px;
    text-align: center;
    left: 0;
    margin: auto;
    padding-top: 8px;
}

}

@media only screen and (max-width: 640px) {

#subtitle {
  border-bottom: 0px;
  text-align: center;
  left: 0;
  margin: auto;
}

}

#header {
    top: 0;
    color: white;
    position: fixed;
    display: inline-block;
    width: 100%;
    z-index: 1;
    transition: margin 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
}

#statement {
    min-height: 50vh;
    overflow: hidden;
}

#missionstatement {
    line-height: 30px;
    font-size: 1.2em;
    color: #fff;
    margin: auto;
    text-align: center;
    padding: 20px;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible;
    position: relative;
    margin-top: 100px;
    margin-bottom: 100px;
    width: 75%;
    background-color: lighten( rgba(0,53,95, 1), 10% );
    border-radius: 30px 0 30px 0;
}

#missionstatement.scrolldown {
    // margin-top: 100px;
}
