@import 'http://fonts.googleapis.com/css?family=Roboto:300,400,500,700';
body, body * {
    transform: translate3d(0, 0, 0);
}

h1 {
    font-family: "Roboto", sans-serif;
    line-height: 1.20;
    font-weight: 700;
    opacity: 1.0;
    letter-spacing: -0.72px;
    word-spacing: 0;
    text-transform: none;
    margin-top: 0;
    margin-bottom: 10px;
}

h2 {
    font-family: "Roboto", sans-serif;
    line-height: 1.4;
    font-weight: 600;
    opacity: 1.0;
    letter-spacing: -0.72px;
    word-spacing: 0;
    text-transform: none;
    margin-top: 0;
    margin-bottom: 5px;
}

h3 {
    font-family: "Roboto", sans-serif;
    line-height: 1.4;
    font-weight: 400;
    opacity: 0.9;
    letter-spacing: 0;
    word-spacing: 0;
    text-transform: none;
    margin-top: 0;
    margin-bottom: 5px;
}

span, p {
    font-family: "Open Sans", sans-serif;
    line-height: 2;
    font-weight: 400;
    opacity: 0.7;
    letter-spacing: -0.06px;
    word-spacing: 0;
    text-transform: none;
    margin-top: 0;
}

html, body {
    width: 100%;
    margin: 0;
    background-color: #ffffff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.main-content {
    padding-top: 0px !important;
    height: 100vh !important;
    color: white;

    .link:hover a {
        color: white
    }

    @include backgroundImage("../images/Scenic Southern Oregon 2013  Beautifulvista.jpg");

    background-attachment: fixed;
}

.container {
    display: flex;
    flex-direction: column;
}

.text-container {
    color: #ffffff;
}

.row {
    flex-direction: row;
}

.section {
    width: 100%;
    z-index: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.section:first-child {
    height: 90vh;
    border: 3px solid green;
}

.section:not(:first-child) {
    padding-top: 125px;
    background-color: #f3f3f3;
}

.profile-pic {
    transition: .5s;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 1.75em;
    @include box_shadow(1);
}

.profile-pic:hover {
    @include box_shadow(4);
    -webkit-transform: translate3d(0, -5%, 0);
    transform: translate3d(0, -5%, 0);
}

@media (max-width: 640px) {
    .profile-pic {
        display: none;
    }
}

.flip-container {
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -o-perspective: 1000;
    perspective: 1000;
    margin-right: 15px;
}

.profile-pic, .front, .back {
    width: 144px;
    height: 144px;
    border-radius: 50% !important;
}

.card-link:hover {
    color: black;
}

.paragraph-text {
    width: 60%;
    min-width: 200px;
    margin-bottom: 20px;
}

.card {
    border: 0px;
    @include transitions(0.5s);
    @include box_shadow(1);
}

.card:hover {
    @include box_shadow(3);
    -webkit-transform: translate3d(0, -0.5%, 0);
    transform: translate3d(0, -0.5%, 0);
}

#works {

    a {
        color: black;
    }

    a:hover {
        color: orange;
    }
}

#toolbox {
    h1 {
        color: white;
    }

    background-attachment: fixed;
    @include backgroundImage("../images/Scenic Southern Oregon 2013  Beautifulvista.jpg");
}
