@import "home";
@import "mixins";
@import "people";

html {
    font-family: 'oregonregular';
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
}

a {
    text-decoration: none !important;
    @include transitions(0.5s);
}

// .navbar {
//     border: 0px;
//     min-height: 0;
//     @include transitions(0.25s);
// }
//
// .navbar.scrolldown {
//     background-color: black;
// }
//
// .navbar-brand {
//     padding: 0;
// }
//
// .navbar-brand img{
//     border-radius: 0 0 15px 0;
//     max-width: 400px;
//     width: 95%;
// }

@media screen and (max-width: 768px) {
 .navbar {
      border: 0px;
      background-color: black;
  }

  .navbar-header {
    padding: 15px;
    float: left;
    text-align: center;
    width: 100%;
  }

  .navbar-brand {
    float: none;
  }

  .navbar-brand img{
    width: 75% !important;
  }
}


#header {
    top: 0;
    color: white;
    position: fixed;
    display: inline-block;
    width: 100%;
    z-index: 1;
    transition: margin 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
}

footer {

    a:hover {
        color: white !important;
    }

    .bs-docs-footer-links {
        padding-left: 0;
        margin-bottom: 20px;
    }
    .bs-docs-footer-links li {
        display: inline-block;
    }
    .bs-docs-footer-links li + li {
        margin-left: 15px;
    }


    padding-top: 30px;
    padding-bottom: 30px;
    // margin-top: 100px;
    color: #99979c;
    text-align: center;
    background-color: #2a2730;
    // position: fixed;
    // bottom: 0;
}
