@import "http://fonts.googleapis.com/css?family=Roboto:300,400,500,700";
@font-face {
  font-family: 'oregonregular';
  src: url("/static/fonts/oregon-webfont.eot");
  src: url("/static/fonts/oregon-webfont.eot?#iefix") format("embedded-opentype"), url("/static/fonts/oregon-webfont.woff2") format("woff2"), url("/static/fonts/oregon-webfont.woff") format("woff"), url("/static/fonts/oregon-webfont.ttf") format("truetype"), url("/static/fonts/oregon-webfont.svg#oregonregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 47, ../sass/_mixins.scss */
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* line 56, ../sass/_mixins.scss */
.noselect-recursive *, .noselect-recursive * *, .noselect-recursive {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@-webkit-keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
/* line 138, ../sass/_mixins.scss */
.slideInDown {
  -webkit-animation-name: slideInDown;
  animation-name: slideInDown;
}

/* line 142, ../sass/_mixins.scss */
.slideInUp {
  -webkit-animation-name: slideInUp;
  animation-name: slideInUp;
}

/* line 146, ../sass/_mixins.scss */
.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}

/* line 151, ../sass/_mixins.scss */
.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}

/* line 155, ../sass/_mixins.scss */
.animated {
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

/* line 161, ../sass/_mixins.scss */
.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

/* line 165, ../sass/_mixins.scss */
.animated.hinge {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}

/* line 5, ../sass/_home.scss */
#index {
  background-image: url("../images/Scenic Southern Oregon 2013  Beautifulvista.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  color: white;
  position: relative;
}
/* line 13, ../sass/_home.scss */
#index:before {
  content: '';
  position: absolute;
  vertical-align: bottom;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to bottom, transparent, #000);
  opacity: 1;
}

/* line 27, ../sass/_home.scss */
#content {
  height: 100vh !important;
}

/* line 31, ../sass/_home.scss */
#content h2 {
  text-align: center;
  font-size: 40px;
  padding: 10px;
  margin: auto;
  color: white;
  bottom: 0;
  /*background-color: rgba(50, 50, 50, 0.7);*/
}

/* line 41, ../sass/_home.scss */
.message {
  line-height: 0.69;
  top: 0vh;
}
/* line 45, ../sass/_home.scss */
.message h1 {
  color: white;
  font-size: 4.5em;
  line-height: 0.75;
  font-weight: 400;
}
/* line 52, ../sass/_home.scss */
.message #left-message {
  margin-left: 30vw;
}
/* line 57, ../sass/_home.scss */
.message #right-message {
  margin-left: 40vw;
}

@media (max-width: 640px) {
  /* line 65, ../sass/_home.scss */
  .message h1 {
    font-size: 2.8em;
  }
  /* line 69, ../sass/_home.scss */
  .message #left-message {
    margin-left: 0vw;
  }
  /* line 74, ../sass/_home.scss */
  .message #right-message {
    margin-left: 0vw;
  }
}
@media only screen and (max-width: 640px) {
  /* line 84, ../sass/_home.scss */
  #title {
    border-bottom: 0px;
    text-align: center;
    left: 0;
    margin: auto;
    padding-top: 8px;
  }
}
/* line 104, ../sass/_home.scss */
#statement {
  min-height: 50vh;
  overflow: hidden;
}

/* line 109, ../sass/_home.scss */
#missionstatement {
  line-height: 30px;
  font-size: 1.2em;
  color: #fff;
  margin: auto;
  text-align: center;
  padding: 20px;
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
  visibility: visible;
  position: relative;
  margin-top: 100px;
  margin-bottom: 100px;
  width: 85vw;
  border-radius: 30px 0 30px 0;
}

@font-face {
  font-family: 'oregonregular';
  src: url("/static/fonts/oregon-webfont.eot");
  src: url("/static/fonts/oregon-webfont.eot?#iefix") format("embedded-opentype"), url("/static/fonts/oregon-webfont.woff2") format("woff2"), url("/static/fonts/oregon-webfont.woff") format("woff"), url("/static/fonts/oregon-webfont.ttf") format("truetype"), url("/static/fonts/oregon-webfont.svg#oregonregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 47, ../sass/_mixins.scss */
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* line 56, ../sass/_mixins.scss */
.noselect-recursive *, .noselect-recursive * *, .noselect-recursive {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@-webkit-keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
/* line 138, ../sass/_mixins.scss */
.slideInDown {
  -webkit-animation-name: slideInDown;
  animation-name: slideInDown;
}

/* line 142, ../sass/_mixins.scss */
.slideInUp {
  -webkit-animation-name: slideInUp;
  animation-name: slideInUp;
}

/* line 146, ../sass/_mixins.scss */
.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}

/* line 151, ../sass/_mixins.scss */
.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}

/* line 155, ../sass/_mixins.scss */
.animated {
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

/* line 161, ../sass/_mixins.scss */
.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

/* line 165, ../sass/_mixins.scss */
.animated.hinge {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}

/* line 3, ../sass/_people.scss */
h1 {
  font-family: "Roboto", sans-serif;
  line-height: 1.20;
  font-weight: 700;
  opacity: 1.0;
  letter-spacing: -0.72px;
  word-spacing: 0;
  text-transform: none;
  margin-top: 0;
  margin-bottom: 10px;
}

/* line 15, ../sass/_people.scss */
h2 {
  font-family: "Roboto", sans-serif;
  line-height: 1.4;
  font-weight: 600;
  opacity: 1.0;
  letter-spacing: -0.72px;
  word-spacing: 0;
  text-transform: none;
  margin-top: 0;
  margin-bottom: 5px;
}

/* line 27, ../sass/_people.scss */
h3 {
  font-family: "Roboto", sans-serif;
  line-height: 1.4;
  font-weight: 400;
  opacity: 0.9;
  letter-spacing: 0;
  word-spacing: 0;
  text-transform: none;
  margin-top: 0;
  margin-bottom: 5px;
}

/* line 39, ../sass/_people.scss */
span, p {
  font-family: "Open Sans", sans-serif;
  line-height: 2;
  font-weight: 400;
  opacity: 0.7;
  letter-spacing: -0.06px;
  word-spacing: 0;
  text-transform: none;
  margin-top: 0;
}

/* line 50, ../sass/_people.scss */
html, body {
  width: 100%;
  margin: 0;
  background-color: #ffffff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 58, ../sass/_people.scss */
.main-content {
  padding-top: 0px !important;
  height: 100vh !important;
  color: white;
  background-image: url("../images/Scenic Southern Oregon 2013  Beautifulvista.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}
/* line 63, ../sass/_people.scss */
.main-content .link:hover a {
  color: white;
}

/* line 72, ../sass/_people.scss */
.container {
  display: flex;
  flex-direction: column;
}

/* line 77, ../sass/_people.scss */
.text-container {
  color: #ffffff;
}

/* line 81, ../sass/_people.scss */
.row {
  flex-direction: row;
}

/* line 85, ../sass/_people.scss */
.section {
  width: 100%;
  z-index: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
}

/* line 96, ../sass/_people.scss */
.section:first-child {
  height: 90vh;
}

/* line 100, ../sass/_people.scss */
.section:not(:first-child) {
  padding-top: 125px;
  padding-bottom: 40px;
  background-color: #f3f3f3;
}

/* line 106, ../sass/_people.scss */
.profile-pic {
  transition: .5s;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 1.75em;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

/* line 114, ../sass/_people.scss */
.profile-pic:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  -webkit-transform: translate3d(0, -5%, 0);
  transform: translate3d(0, -5%, 0);
}

@media (max-width: 640px) {
  /* line 121, ../sass/_people.scss */
  .profile-pic {
    display: none;
  }
}
/* line 126, ../sass/_people.scss */
.flip-container {
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -o-perspective: 1000;
  perspective: 1000;
  margin-right: 15px;
}

/* line 134, ../sass/_people.scss */
.profile-pic, .front, .back {
  width: 144px;
  height: 144px;
  border-radius: 50% !important;
}

/* line 140, ../sass/_people.scss */
.card-link:hover {
  color: black;
}

/* line 144, ../sass/_people.scss */
.paragraph-text {
  width: 60%;
  min-width: 200px;
  margin-bottom: 20px;
}

/* line 150, ../sass/_people.scss */
.card {
  padding: 20px;
}

/* line 165, ../sass/_people.scss */
#works a {
  color: black;
}
/* line 169, ../sass/_people.scss */
#works a:hover {
  color: #006ec5;
}

/* line 174, ../sass/_people.scss */
#toolbox {
  background-attachment: fixed;
  background-image: url("../images/Scenic Southern Oregon 2013  Beautifulvista.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
/* line 175, ../sass/_people.scss */
#toolbox .row {
  padding-bottom: 30px;
}
/* line 178, ../sass/_people.scss */
#toolbox h1 {
  color: white;
}

/* line 5, ../sass/main.scss */
html, body {
  font-family: 'Roboto', sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

/* line 14, ../sass/main.scss */
a {
  text-decoration: none !important;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

/* line 19, ../sass/main.scss */
.navbar {
  border: 0px;
  background-color: black !important;
  min-height: 0;
  -o-transition: 0.25s;
  -ms-transition: 0.25s;
  -moz-transition: 0.25s;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

/* line 26, ../sass/main.scss */
.navbar.scrolldown {
  background-color: #00355f !important;
}

/* line 30, ../sass/main.scss */
.navbar-brand {
  padding: 0;
}

/* line 34, ../sass/main.scss */
.navbar-brand img {
  border-radius: 0 0 15px 0;
  max-width: 400px;
  width: 95%;
}

@media screen and (max-width: 768px) {
  /* line 41, ../sass/main.scss */
  .navbar {
    border: 0px;
    background-color: black;
  }

  /* line 46, ../sass/main.scss */
  .navbar-header {
    padding: 15px;
    float: left;
    text-align: center;
    width: 100%;
  }

  /* line 53, ../sass/main.scss */
  .navbar-brand {
    width: 75% !important;
    float: none;
  }
}
/* line 59, ../sass/main.scss */
.autoscroll {
  width: 100%;
  text-align: center;
  bottom: 10px;
  position: absolute;
}
/* line 65, ../sass/main.scss */
.autoscroll a {
  bottom: 0;
  color: white;
  text-decoration: none;
}
/* line 71, ../sass/main.scss */
.autoscroll .scrollbox {
  top: 0;
}
/* line 74, ../sass/main.scss */
.autoscroll .scrollbox .glyphicon {
  font-size: 25px;
}
/* line 79, ../sass/main.scss */
.autoscroll .scrolldown {
  font-size: 3em;
  position: absolute;
  margin-left: -19px;
  margin-bottom: -14px;
}
/* line 86, ../sass/main.scss */
.autoscroll .scrolldownarrow {
  font-size: 1.3em;
  z-index: -1;
  display: block;
}

/* line 93, ../sass/main.scss */
footer {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  color: white;
  background-color: #00355f;
}
/* line 95, ../sass/main.scss */
footer a:hover {
  color: white !important;
}
/* line 99, ../sass/main.scss */
footer div {
  text-align: center !important;
}
/* line 103, ../sass/main.scss */
footer .bs-docs-footer-links {
  padding-left: 0;
  margin-bottom: 20px;
}
/* line 107, ../sass/main.scss */
footer .bs-docs-footer-links li {
  display: inline-block;
}
/* line 110, ../sass/main.scss */
footer .bs-docs-footer-links li + li {
  margin-left: 15px;
}
