@import "http://fonts.googleapis.com/css?family=Roboto:300,400,500,700";
@font-face {
  font-family: 'oregonregular';
  src: url("/static/fonts/oregon-webfont.eot");
  src: url("/static/fonts/oregon-webfont.eot?#iefix") format("embedded-opentype"), url("/static/fonts/oregon-webfont.woff2") format("woff2"), url("/static/fonts/oregon-webfont.woff") format("woff"), url("/static/fonts/oregon-webfont.ttf") format("truetype"), url("/static/fonts/oregon-webfont.svg#oregonregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 45, ../sass/_mixins.scss */
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* line 54, ../sass/_mixins.scss */
.noselect-recursive *, .noselect-recursive * *, .noselect-recursive {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@-webkit-keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
/* line 136, ../sass/_mixins.scss */
.slideInDown {
  -webkit-animation-name: slideInDown;
  animation-name: slideInDown;
}

/* line 140, ../sass/_mixins.scss */
.slideInUp {
  -webkit-animation-name: slideInUp;
  animation-name: slideInUp;
}

/* line 144, ../sass/_mixins.scss */
.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}

/* line 149, ../sass/_mixins.scss */
.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}

/* line 153, ../sass/_mixins.scss */
.animated {
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

/* line 159, ../sass/_mixins.scss */
.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

/* line 163, ../sass/_mixins.scss */
.animated.hinge {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}

/* line 3, ../sass/_home.scss */
html {
  font-family: 'oregonregular';
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/* line 9, ../sass/_home.scss */
body {
  margin: 0;
}

/* line 13, ../sass/_home.scss */
#index {
  background-image: url("../images/Scenic Southern Oregon 2013  Beautifulvista.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

/* line 17, ../sass/_home.scss */
#rowleft {
  height: 300px;
  width: 400px;
  display: block;
  float: left;
}

/* line 24, ../sass/_home.scss */
#rowright {
  float: left;
  width: 50%;
  margin: auto;
}

/* line 30, ../sass/_home.scss */
#content {
  top: 20vh;
  margin: auto;
  overflow: hidden;
  width: 100%;
  color: white;
  height: 100vh;
}

/* line 39, ../sass/_home.scss */
#content h2 {
  text-align: center;
  font-size: 40px;
  padding: 10px;
  margin: auto;
  color: white;
  bottom: 0;
  /*background-color: rgba(50, 50, 50, 0.7);*/
}

/* line 77, ../sass/_home.scss */
#slidein {
  width: 100%;
  padding-bottom: 30px;
  padding-top: 25vh;
  line-height: 0.69;
  top: 0vh;
  /*border: 3px solid green;*/
}

/* line 86, ../sass/_home.scss */
#slidein h1 {
  color: white;
  font-size: 70px;
  line-height: 0.75;
  font-weight: 400;
}

/* line 93, ../sass/_home.scss */
#title {
  width: 100%;
  border-bottom: 2px solid #fff;
  display: inline-block;
  padding: 0;
  position: relative;
  margin-left: 550px;
  margin-top: 0;
  font-weight: 800;
  /*border: 3px solid red;*/
}

/* line 105, ../sass/_home.scss */
#subtitle {
  width: 100%;
  border-bottom: 2px solid #fff;
  display: inline-block;
  padding: 0;
  position: relative;
  margin-left: -220px;
  text-align: right;
  font-weight: 800;
  /*border: 3px solid blue;*/
}

@media only screen and (max-width: 640px) {
  /* line 119, ../sass/_home.scss */
  #title {
    border-bottom: 0px;
    text-align: center;
    left: 0;
    margin: auto;
    padding-top: 8px;
  }
}
@media only screen and (max-width: 640px) {
  /* line 131, ../sass/_home.scss */
  #subtitle {
    border-bottom: 0px;
    text-align: center;
    left: 0;
    margin: auto;
  }
}
/* line 140, ../sass/_home.scss */
#header {
  top: 0;
  color: white;
  position: fixed;
  display: inline-block;
  width: 100%;
  z-index: 1;
  transition: margin 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
}

/* line 150, ../sass/_home.scss */
#autoscroll {
  /*padding-top: 400px;*/
  width: 100%;
  /*margin:auto;*/
  text-align: center;
  bottom: 10px;
  position: absolute;
}

/* line 159, ../sass/_home.scss */
#autoscroll a {
  /*font-size: 4em;*/
  bottom: 0;
  color: white;
  text-decoration: none;
}

/* line 166, ../sass/_home.scss */
#scrollbox {
  top: 0;
}

/* line 170, ../sass/_home.scss */
#scrollbox .glyphicon {
  font-size: 25px;
}

/* line 174, ../sass/_home.scss */
#scrolldown {
  /*position: absolute;*/
  font-size: 4em;
  position: absolute;
  margin-left: -23px;
  margin-bottom: -14px;
}

/* line 182, ../sass/_home.scss */
#scrolldownarrow {
  z-index: -1;
  display: block;
}

/* line 187, ../sass/_home.scss */
#statement {
  min-height: 50vh;
  overflow: hidden;
}

/* line 192, ../sass/_home.scss */
#missionstatement {
  line-height: 30px;
  font-size: 1.3em;
  color: #fff;
  margin: auto;
  text-align: center;
  padding: 20px;
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
  visibility: visible;
  position: relative;
  margin-top: 100px;
  margin-bottom: 100px;
  width: 75%;
  background-color: #005192;
  border-radius: 30px 0 30px 0;
}

@font-face {
  font-family: 'oregonregular';
  src: url("/static/fonts/oregon-webfont.eot");
  src: url("/static/fonts/oregon-webfont.eot?#iefix") format("embedded-opentype"), url("/static/fonts/oregon-webfont.woff2") format("woff2"), url("/static/fonts/oregon-webfont.woff") format("woff"), url("/static/fonts/oregon-webfont.ttf") format("truetype"), url("/static/fonts/oregon-webfont.svg#oregonregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 45, ../sass/_mixins.scss */
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* line 54, ../sass/_mixins.scss */
.noselect-recursive *, .noselect-recursive * *, .noselect-recursive {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@-webkit-keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
/* line 136, ../sass/_mixins.scss */
.slideInDown {
  -webkit-animation-name: slideInDown;
  animation-name: slideInDown;
}

/* line 140, ../sass/_mixins.scss */
.slideInUp {
  -webkit-animation-name: slideInUp;
  animation-name: slideInUp;
}

/* line 144, ../sass/_mixins.scss */
.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}

/* line 149, ../sass/_mixins.scss */
.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}

/* line 153, ../sass/_mixins.scss */
.animated {
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

/* line 159, ../sass/_mixins.scss */
.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

/* line 163, ../sass/_mixins.scss */
.animated.hinge {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}

/* line 2, ../sass/_people.scss */
body, body * {
  transform: translate3d(0, 0, 0);
}

/* line 6, ../sass/_people.scss */
h1 {
  font-family: "Roboto", sans-serif;
  line-height: 1.20;
  font-weight: 700;
  opacity: 1.0;
  letter-spacing: -0.72px;
  word-spacing: 0;
  text-transform: none;
  margin-top: 0;
  margin-bottom: 10px;
}

/* line 18, ../sass/_people.scss */
h2 {
  font-family: "Roboto", sans-serif;
  line-height: 1.4;
  font-weight: 600;
  opacity: 1.0;
  letter-spacing: -0.72px;
  word-spacing: 0;
  text-transform: none;
  margin-top: 0;
  margin-bottom: 5px;
}

/* line 30, ../sass/_people.scss */
h3 {
  font-family: "Roboto", sans-serif;
  line-height: 1.4;
  font-weight: 400;
  opacity: 0.9;
  letter-spacing: 0;
  word-spacing: 0;
  text-transform: none;
  margin-top: 0;
  margin-bottom: 5px;
}

/* line 42, ../sass/_people.scss */
span, p {
  font-family: "Open Sans", sans-serif;
  line-height: 2;
  font-weight: 400;
  opacity: 0.7;
  letter-spacing: -0.06px;
  word-spacing: 0;
  text-transform: none;
  margin-top: 0;
}

/* line 53, ../sass/_people.scss */
html, body {
  width: 100%;
  margin: 0;
  background-color: #ffffff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 61, ../sass/_people.scss */
.main-content {
  height: 100vh !important;
  background-image: url("../images/Scenic Southern Oregon 2013  Beautifulvista.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}
/* line 64, ../sass/_people.scss */
.main-content .link:hover a {
  color: white;
}

/* line 73, ../sass/_people.scss */
.container {
  display: flex;
  flex-direction: column;
}

/* line 78, ../sass/_people.scss */
.text-container {
  color: #ffffff;
}

/* line 82, ../sass/_people.scss */
.row {
  flex-direction: row;
}

/* line 86, ../sass/_people.scss */
.section {
  width: 100%;
  z-index: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
}

/* line 97, ../sass/_people.scss */
.section:first-child {
  height: 90vh;
}

/* line 101, ../sass/_people.scss */
.section:not(:first-child) {
  padding-top: 125px;
  background-color: #f3f3f3;
}

/* line 106, ../sass/_people.scss */
.profile-pic {
  transition: .5s;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 1.75em;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

/* line 114, ../sass/_people.scss */
.profile-pic:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  -webkit-transform: translate3d(0, -5%, 0);
  transform: translate3d(0, -5%, 0);
}

/* line 120, ../sass/_people.scss */
.flip-container {
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -o-perspective: 1000;
  perspective: 1000;
  margin-right: 15px;
}

/* line 128, ../sass/_people.scss */
.profile-pic, .front, .back {
  width: 144px;
  height: 144px;
  border-radius: 50% !important;
}

/* line 134, ../sass/_people.scss */
.card-link:hover {
  color: black;
}

/* line 138, ../sass/_people.scss */
.paragraph-text {
  width: 60%;
  min-width: 200px;
  margin-bottom: 20px;
}

/* line 144, ../sass/_people.scss */
.card {
  border: 0px;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

/* line 150, ../sass/_people.scss */
.card:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  -webkit-transform: translate3d(0, -0.5%, 0);
  transform: translate3d(0, -0.5%, 0);
}

/* line 158, ../sass/_people.scss */
#works a {
  color: black;
}
/* line 162, ../sass/_people.scss */
#works a:hover {
  color: orange;
}

/* line 167, ../sass/_people.scss */
#toolbox {
  background-attachment: fixed;
  background-image: url("https://newevolutiondesigns.com/images/freebies/google-material-design-wallpaper-20.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
/* line 168, ../sass/_people.scss */
#toolbox h1 {
  color: white;
}

/* line 5, ../sass/main.scss */
html {
  font-family: 'oregonregular';
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/* line 11, ../sass/main.scss */
body {
  margin: 0;
}

/* line 15, ../sass/main.scss */
a {
  text-decoration: none !important;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

/* line 20, ../sass/main.scss */
.navbar {
  border: 0px;
  min-height: 0;
  -o-transition: 0.25s;
  -ms-transition: 0.25s;
  -moz-transition: 0.25s;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

/* line 26, ../sass/main.scss */
.navbar.scrolldown {
  background-color: black;
}

/* line 30, ../sass/main.scss */
.navbar-brand {
  padding: 0;
}

/* line 34, ../sass/main.scss */
.navbar-brand img {
  border-radius: 0 0 15px 0;
  max-width: 400px;
  width: 95%;
}

@media screen and (max-width: 768px) {
  /* line 41, ../sass/main.scss */
  .navbar {
    border: 0px;
    background-color: black;
  }

  /* line 46, ../sass/main.scss */
  .navbar-header {
    padding: 15px;
    float: left;
    text-align: center;
    width: 100%;
  }

  /* line 53, ../sass/main.scss */
  .navbar-brand {
    float: none;
  }

  /* line 57, ../sass/main.scss */
  .navbar-brand img {
    width: 75% !important;
  }
}
/* line 63, ../sass/main.scss */
#header {
  top: 0;
  color: white;
  position: fixed;
  display: inline-block;
  width: 100%;
  z-index: 1;
  transition: margin 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
}

/* line 73, ../sass/main.scss */
footer {
  padding-top: 30px;
  padding-bottom: 30px;
  color: #99979c;
  text-align: center;
  background-color: #2a2730;
}
/* line 75, ../sass/main.scss */
footer a:hover {
  color: white !important;
}
/* line 79, ../sass/main.scss */
footer .bs-docs-footer-links {
  padding-left: 0;
  margin-bottom: 20px;
}
/* line 83, ../sass/main.scss */
footer .bs-docs-footer-links li {
  display: inline-block;
}
/* line 86, ../sass/main.scss */
footer .bs-docs-footer-links li + li {
  margin-left: 15px;
}
