@import "http://fonts.googleapis.com/css?family=Roboto:300,400,500,700";
@font-face {
  font-family: 'oregonregular';
  src: url("/static/fonts/oregon-webfont.eot");
  src: url("/static/fonts/oregon-webfont.eot?#iefix") format("embedded-opentype"), url("/static/fonts/oregon-webfont.woff2") format("woff2"), url("/static/fonts/oregon-webfont.woff") format("woff"), url("/static/fonts/oregon-webfont.ttf") format("truetype"), url("/static/fonts/oregon-webfont.svg#oregonregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 53, ../sass/_mixins.scss */
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* line 62, ../sass/_mixins.scss */
.noselect-recursive *, .noselect-recursive * *, .noselect-recursive {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@-webkit-keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
/* line 144, ../sass/_mixins.scss */
.slideInDown {
  -webkit-animation-name: slideInDown;
  animation-name: slideInDown;
}

/* line 148, ../sass/_mixins.scss */
.slideInUp {
  -webkit-animation-name: slideInUp;
  animation-name: slideInUp;
}

/* line 152, ../sass/_mixins.scss */
.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}

/* line 157, ../sass/_mixins.scss */
.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}

/* line 161, ../sass/_mixins.scss */
.animated {
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

/* line 167, ../sass/_mixins.scss */
.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

/* line 171, ../sass/_mixins.scss */
.animated.hinge {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}

/* line 5, ../sass/_home.scss */
#index {
  position: relative;
  overflow: hidden;
}

/* line 10, ../sass/_home.scss */
#content {
  min-height: 20vh;
}
/* line 13, ../sass/_home.scss */
#content h3 {
  font-weight: bold;
}
/* line 17, ../sass/_home.scss */
#content h2 {
  text-align: center;
  font-size: 40px;
  padding: 10px;
  margin: auto;
  color: black;
  bottom: 0;
}

@media (min-width: 640px) {
  /* line 28, ../sass/_home.scss */
  .call-button {
    display: none;
  }
}
@font-face {
  font-family: 'oregonregular';
  src: url("/static/fonts/oregon-webfont.eot");
  src: url("/static/fonts/oregon-webfont.eot?#iefix") format("embedded-opentype"), url("/static/fonts/oregon-webfont.woff2") format("woff2"), url("/static/fonts/oregon-webfont.woff") format("woff"), url("/static/fonts/oregon-webfont.ttf") format("truetype"), url("/static/fonts/oregon-webfont.svg#oregonregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 53, ../sass/_mixins.scss */
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* line 62, ../sass/_mixins.scss */
.noselect-recursive *, .noselect-recursive * *, .noselect-recursive {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@-webkit-keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
/* line 144, ../sass/_mixins.scss */
.slideInDown {
  -webkit-animation-name: slideInDown;
  animation-name: slideInDown;
}

/* line 148, ../sass/_mixins.scss */
.slideInUp {
  -webkit-animation-name: slideInUp;
  animation-name: slideInUp;
}

/* line 152, ../sass/_mixins.scss */
.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}

/* line 157, ../sass/_mixins.scss */
.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}

/* line 161, ../sass/_mixins.scss */
.animated {
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

/* line 167, ../sass/_mixins.scss */
.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

/* line 171, ../sass/_mixins.scss */
.animated.hinge {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}

/* line 3, ../sass/_blog.scss */
#blog {
  height: 60vh;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), #000), url("http://i.huffpost.com/gen/1730398/images/o-NEWSPAPER-facebook.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  color: white;
}
/* line 12, ../sass/_blog.scss */
#blog h1 {
  color: white;
  font-size: 4.5em;
  line-height: 0.75;
  font-weight: 400;
}
/* line 19, ../sass/_blog.scss */
#blog h3 {
  font-weight: bold;
}

/* line 24, ../sass/_blog.scss */
.blogpost {
  height: 50vh !important;
}

/* line 29, ../sass/_blog.scss */
#blog-posts .row {
  padding-bottom: 20px;
}
/* line 33, ../sass/_blog.scss */
#blog-posts .card {
  max-width: 100%;
  border: 0px;
  padding: 20px;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
/* line 42, ../sass/_blog.scss */
#blog-posts .card:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  -webkit-transform: translate3d(0, -0.5%, 0);
  transform: translate3d(0, -0.5%, 0);
}
/* line 48, ../sass/_blog.scss */
#blog-posts .card-title {
  word-wrap: break-word;
}
/* line 52, ../sass/_blog.scss */
#blog-posts .list-group-item {
  overflow: hidden;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* line 59, ../sass/_blog.scss */
#blog-posts .social-links {
  float: right;
}

@font-face {
  font-family: 'oregonregular';
  src: url("/static/fonts/oregon-webfont.eot");
  src: url("/static/fonts/oregon-webfont.eot?#iefix") format("embedded-opentype"), url("/static/fonts/oregon-webfont.woff2") format("woff2"), url("/static/fonts/oregon-webfont.woff") format("woff"), url("/static/fonts/oregon-webfont.ttf") format("truetype"), url("/static/fonts/oregon-webfont.svg#oregonregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 53, ../sass/_mixins.scss */
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* line 62, ../sass/_mixins.scss */
.noselect-recursive *, .noselect-recursive * *, .noselect-recursive {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@-webkit-keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
/* line 144, ../sass/_mixins.scss */
.slideInDown {
  -webkit-animation-name: slideInDown;
  animation-name: slideInDown;
}

/* line 148, ../sass/_mixins.scss */
.slideInUp {
  -webkit-animation-name: slideInUp;
  animation-name: slideInUp;
}

/* line 152, ../sass/_mixins.scss */
.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}

/* line 157, ../sass/_mixins.scss */
.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}

/* line 161, ../sass/_mixins.scss */
.animated {
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

/* line 167, ../sass/_mixins.scss */
.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

/* line 171, ../sass/_mixins.scss */
.animated.hinge {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}

/* line 3, ../sass/_people.scss */
h1 {
  font-family: "Roboto", sans-serif;
  line-height: 1.20;
  font-weight: 700;
  opacity: 1.0;
  letter-spacing: -0.72px;
  word-spacing: 0;
  text-transform: none;
  margin-top: 0;
  margin-bottom: 10px;
}

/* line 15, ../sass/_people.scss */
h2 {
  font-family: "Roboto", sans-serif;
  line-height: 1.4;
  font-weight: 600;
  opacity: 1.0;
  letter-spacing: -0.72px;
  word-spacing: 0;
  text-transform: none;
  margin-top: 0;
  margin-bottom: 5px;
}

/* line 27, ../sass/_people.scss */
h3 {
  font-family: "Roboto", sans-serif;
  line-height: 1.4;
  font-weight: 400;
  opacity: 0.9;
  letter-spacing: 0;
  word-spacing: 0;
  text-transform: none;
  margin-top: 0;
  margin-bottom: 5px;
}

/* line 39, ../sass/_people.scss */
span, p {
  font-family: "Open Sans", sans-serif;
  line-height: 2;
  font-weight: 400;
  opacity: 0.7;
  letter-spacing: -0.06px;
  word-spacing: 0;
  text-transform: none;
  margin-top: 0;
}

/* line 50, ../sass/_people.scss */
html, body {
  width: 100%;
  margin: 0;
  background-color: #ffffff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 58, ../sass/_people.scss */
.main-content {
  padding-top: 0px !important;
  height: 100vh !important;
  color: white;
  position: relative;
  background-image: url("../images/Scenic Southern Oregon 2013  Beautifulvista.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

/* line 86, ../sass/_people.scss */
.container {
  display: flex;
  flex-direction: column;
}

/* line 91, ../sass/_people.scss */
.text-container {
  color: #ffffff;
}

/* line 95, ../sass/_people.scss */
.row {
  flex-direction: row;
}

/* line 99, ../sass/_people.scss */
.section {
  width: 100%;
  z-index: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
}

/* line 110, ../sass/_people.scss */
.section:first-child {
  height: 90vh;
}

/* line 114, ../sass/_people.scss */
.section:not(:first-child) {
  padding-top: 125px;
  padding-bottom: 40px;
  background-color: #f3f3f3;
}

/* line 120, ../sass/_people.scss */
.profile-pic {
  transition: .5s;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 1.75em;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

/* line 128, ../sass/_people.scss */
.profile-pic:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  -webkit-transform: translate3d(0, -5%, 0);
  transform: translate3d(0, -5%, 0);
}

@media (max-width: 640px) {
  /* line 135, ../sass/_people.scss */
  .profile-pic {
    display: none;
  }
}
/* line 140, ../sass/_people.scss */
.flip-container {
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -o-perspective: 1000;
  perspective: 1000;
  margin-right: 15px;
}

/* line 148, ../sass/_people.scss */
.profile-pic, .front, .back {
  width: 144px;
  height: 144px;
  border-radius: 50% !important;
}

/* line 154, ../sass/_people.scss */
.card-link:hover {
  color: black;
}

/* line 158, ../sass/_people.scss */
.paragraph-text {
  width: 60%;
  min-width: 200px;
  margin-bottom: 20px;
}

/* line 164, ../sass/_people.scss */
.card {
  padding: 20px;
}

/* line 170, ../sass/_people.scss */
#works a {
  color: black;
}
/* line 174, ../sass/_people.scss */
#works a:hover {
  color: #006ec5;
}

/* line 179, ../sass/_people.scss */
#toolbox {
  background-attachment: fixed;
  background-image: url("../images/Scenic Southern Oregon 2013  Beautifulvista.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
/* line 180, ../sass/_people.scss */
#toolbox .row {
  padding-bottom: 30px;
}
/* line 183, ../sass/_people.scss */
#toolbox h1 {
  color: white;
}

/* line 192, ../sass/_people.scss */
#resume .card {
  border: 0px;
  padding: 20px;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
/* line 199, ../sass/_people.scss */
#resume .card:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  -webkit-transform: translate3d(0, -0.5%, 0);
  transform: translate3d(0, -0.5%, 0);
}

/* line 6, ../sass/main.scss */
html, body {
  font-family: 'Roboto', sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

/* line 15, ../sass/main.scss */
a {
  text-decoration: none !important;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

/* line 20, ../sass/main.scss */
strong {
  color: #00355f;
}

/* line 24, ../sass/main.scss */
.navbar {
  border: 0px;
  min-height: 0;
  -o-transition: 0.25s;
  -ms-transition: 0.25s;
  -moz-transition: 0.25s;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

/* line 31, ../sass/main.scss */
.navbar.scrolldown {
  background-color: #00355f !important;
}

/* line 35, ../sass/main.scss */
.navbar-brand {
  padding: 0;
}

/* line 39, ../sass/main.scss */
.navbar-brand img {
  max-width: 400px;
  width: 95%;
}

@media screen and (max-width: 768px) {
  /* line 46, ../sass/main.scss */
  .navbar {
    border: 0px;
  }

  /* line 50, ../sass/main.scss */
  .navbar-header {
    padding: 15px;
    float: left;
    text-align: center;
    width: 100%;
  }

  /* line 57, ../sass/main.scss */
  .navbar-brand {
    width: 75% !important;
    float: none;
  }
}
/* line 63, ../sass/main.scss */
.header {
  background-image: url("../images/Scenic Southern Oregon 2013  Beautifulvista.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-position: center;
  color: white;
  height: 80vh;
}

/* line 70, ../sass/main.scss */
.autoscroll {
  width: 100%;
  text-align: center;
  bottom: 10px;
  position: absolute;
}
/* line 76, ../sass/main.scss */
.autoscroll a {
  bottom: 0;
  color: white;
  text-decoration: none;
}
/* line 82, ../sass/main.scss */
.autoscroll .scrollbox {
  top: 0;
}
/* line 85, ../sass/main.scss */
.autoscroll .scrollbox .glyphicon {
  font-size: 25px;
}
/* line 90, ../sass/main.scss */
.autoscroll .scrolldown {
  font-size: 3em;
  position: absolute;
  margin-left: -19px;
  margin-bottom: -14px;
}
/* line 97, ../sass/main.scss */
.autoscroll .scrolldownarrow {
  font-size: 1.3em;
  z-index: -1;
  display: block;
}

/* line 104, ../sass/main.scss */
footer {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  color: white;
  background-color: #00355f;
}
/* line 106, ../sass/main.scss */
footer a:hover {
  color: white !important;
}
/* line 110, ../sass/main.scss */
footer div {
  text-align: center !important;
}
/* line 114, ../sass/main.scss */
footer .bs-docs-footer-links {
  padding-left: 0;
  margin-bottom: 20px;
}
/* line 118, ../sass/main.scss */
footer .bs-docs-footer-links li {
  display: inline-block;
}
/* line 121, ../sass/main.scss */
footer .bs-docs-footer-links li + li {
  margin-left: 15px;
}
